/* Designed by silver, www.yanhonglu.com. */

#header{background:url(./images/bg.header.gif) repeat; border:none}

#topbar   {color:black}
#topbar a {color:black; text-decoration:none}
#topbar select {color:black; background:#efefef url(./images/bg.header.gif) repeat-x}
#topbar .w-p50 {padding-left:8px}

#mainmenu   ul{background:none}
#mainmenu   ul li{background:none}
#modulemenu ul{background:none}

#mainmenu li{border:none; height:30px; line-height:30px;}
#mainmenu .active {background:url(./images/bg.menu.gif) no-repeat center top; width:85px;}

#modulemenu select{border:1px solid #e4e4e4; background:#fff}

#modulemenu #projectID   {background:#EAEAEA}
#modulemenu #productID   {background:#EAEAEA}

#mainmenu #searchbox{height:28px; margin-top:2px;}
