#featurebar{display:inline-block;}
.modal-dialog{width:70% !important}
#querybox #searchform{border-bottom: 1px solid #ddd; margin-bottom: 20px;}
#designTable td{white-space:nowrap; text-overflow:ellipsis; overflow: hidden}
