tfoot .table-actions #assignedTo_chosen a.chosen-default{height:26px;line-height:15px}
tfoot .table-actions .input-group-addon{padding:5px 12px;}

tfoot.fixedTfootAction .chosen-results li.active-result {color: black;}
