#mailtoGroup .chosen-container-single a {border-left-width: 0px;}
#ownerAndPriBox .picker .picker-selections .picker-selection {width: 158px;}
.table tbody>tr>td {width: 400px;}
[lang^='en'] .table tbody>tr>td, [lang^='de'] .table tbody>tr>td {width: 460px;}
[lang^='fr'] .table tbody>tr>td {width: 480px;}
