.choose-date span, .dp-choose-date{ display:block; float:left; margin:0 10px;}
.dp-applied{float:left;}
.choose-date span{line-height:20px;}
.date{width:80px;}
ul#report-list{margin:0px;}
ul li{list-style:none;}
#product td, tr, th{ border:1px solid #E4E4E4;}
#product p{margin:2px 0;}
