.list-group-item {padding: 8px 15px}
.list-group-item.active,.list-group-item.active:hover {background: #fff; border-color: #ddd; background: #f1f1f1; color: #333; font-weight: bold;}
.list-group-item.active > a {color: #333}
