.form-row .key-row {height: 1.92rem;}
.form-horz .form-group {padding-left: 8rem;}
.form-horz .form-group > .form-label {width: 8rem; height: 105%;}
.lang-row .form-group {padding-left: 0; justify-content: center;}
.lang-row .form-group > .form-label {width: var(--form-horz-label-width);}
.unit-box .checkbox-primary {flex: 0 1 15%;}
#gradeList {width: 50%}
.gradeRuleNotice {margin-left: 4.25rem}
td.required:after {
    --tw-translate-y: 0.125rem;
    --tw-scale-x: 1.25;
    --tw-scale-y: 1.25;
    --tw-text-opacity: 1;
    color: rgba(var(--color-danger-500-rgb), var(--tw-text-opacity));
    content: "*";
    display: inline-block;
    margin-left: 0.25rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
