.side-col .detail-content {padding-left: 10px; margin-top: 0px;}
.side-col {padding-right: 20px; width: 18%;}
#sidebar>.cell {width: 100%;}

th.c-budget {text-align: right;}
td.c-actions {overflow: visible;}
.c-actions .btn {overflow: visible;}
#programBox {float: left; margin-right: 10px; width: 170px !important;}
#switchButton {background: #fff !important;}
.icon-cards-view {padding-left: 7px; font-size: 16px;}
.icon-list {padding-left: 7px;}
.panel-actions {position: relative; padding: 0 0;}

td.flex {display: flex; flex-flow: row nowrap; justify-content: flex-start; align-items: center;}
td.flex span.label-badge {margin-left: 5px; min-width: 50px;}
td.flex a.text-ellipsis {min-width: 30px;}
