.items-center {align-items: center !important;}
#ignore {text-decoration: underline; cursor: pointer; color: #ef7b0f;}

.productBox .input-group-addon {background: #fff}
.productBox .form-group.no-label {padding-left: 1px}

#project-model {font-weight: 500; font-size: 14px;}
.items-center {align-items: center !important}

.programTip {width: 200px !important;}

.form-group[data-name=budget] .has-prefix .input-control-prefix {padding: 0}
