.items-center {align-items: center !important;}
#ignore {text-decoration: underline; cursor: pointer; color: #ef7b0f;}

#project-model {font-weight: 500; font-size: 14px;}
.items-center {align-items: center !important}

.programTip {width: 200px !important;}
