.popover-sm .popover-content {padding: 8px 10px; max-width: 228px;}

#dateRange {vertical-align: top; padding-top: 13px;}
#endList {vertical-align: top; padding-top: 13px;}
#copyProjectModal {padding: 0;}
#copyProjectModal {padding: 0 2px;}
#copyProjectModal > div {position: relative;}
#copyProjectModal a {display: block; min-height: 30px; line-height: 30px; padding: 5px 15px; border: 1px solid #e5e5e5; color: #333; margin: 5px 0; border-radius: 3px;}
#copyProjectModal a > i {display: inline-block; margin-right: 5px;}
#copyProjectModal a:hover {border: 1px solid #00a9fc; background-color: #E9F2FB; text-decoration: none;}
#copyProjectModal a.active {border-color: #00da88; color: #00da88; background-color: #E5FFE6;}
#copyProjectModal a.active:after {position: absolute; content: '\e92f'; font-family: ZentaoIcon; font-size: 20px; right: 25px;}
#copyProjectModal a.cancel {color: #ff5d5d;}
#budget {border-right: 0px;}
#budgetUnit {border-left: 0px;}
#projectName {display: inline-block; width: 32%;}
#productsBox a {border-radius: 2px !important;}
#productsBox .col-sm-4 {padding-right: 5px;}
#productsBox .addProduct {padding-left: 0px !important;}
#productsBox .required:after{right: -6px !important;}
#productsBox .input-group-addon > div {display: inline-block !important;}
#plansBox .row {display: inline-table; width: 102%;}
#plansBox .col-sm-4 {float: none; display: inline-block; padding-right: 5px;}
.change-blue {color: #0061F4; font-weight: bold;}
.change-gray {color: #C4C4C4; font-weight: bold;}
#copypart .icon-check{padding-right: 5px;}
#copyall .icon-check{padding-right: 5px;}
.modal-flex{display:flex; justify-content:space-around;}
.modal-flex .col-md-4{padding-right: 5px; padding-left: 5px;}
.change-background-gray{background-color: #F8F8F8;}
.change-background-blue{background-color: #F5F9FF;}