.main-table .table {cursor: default;}
.main-table .table td {background: #efefef;}

.board-item {border: 1px solid #EBEBEB; padding: 5px 10px; cursor: default; border-radius: 2px; background-color: #fff;}
.board-item:hover {border-color: #ccc;}
.board-project .board-item + .board-item {margin-top: 10px;}

.board-project {padding: 10px;}
.board-wait, .board-closed {vertical-align: top !important;}

.board-doing {padding: 0px !important; vertical-align: top !important;}
.board-doing .board-doing-project:not(:last-child),
.board-doing .board-doing-execution:not(:last-child) {padding: 10px; border-bottom: 2px solid #fff;}

.board-doing .board-doing-project:last-child,
.board-doing .board-doing-execution:last-child {padding: 10px;}

.board-doing-project .table-row .table-col:last-child, .c-progress {width: 30px;}
.board-doing-execution .table-row .table-col:last-child, .c-progress {width: 30px;}
.table-row .table-col:first-child {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

table th, td {border: 2px solid #fff !important;}

#kanban {padding-bottom: 10px}
