table th.col-closed {width:15%}
#kanbanHeader th{border: 1px solid #ddd; padding:8px;}
#kanbanHeader .dropdown {display: inline-block; margin-left: 10px;}
#kanbanHeader .dropdown > a {color: #036}
#kanbanHeader  th.col-closed {position: relative}
#kanbanHeader .actions {position: absolute; right: 0; top: 0; padding: 0px; background: #f1f1f1; border-left: 1px solid #ccc}
#kanbanHeader .actions .btn {display: block; border-radius: 0; width: 34px; height: 36px; position: relative; text-align: center; padding: 5px 0; color: #036}
#kanbanHeader .actions .btn-text {display: none}

#kanbanWrapper {table-layout: fixed; border-top: none}
#kanbanWrapper > tbody > tr:first-child > td {border-top: none}
#kanbanWrapper thead th, #kanbanWrapper thead, #kanbanWrapper thead tr {padding: 0!important; border: none!important; height: 0!important; border-bottom: none!important}
#kanbanWrapper tbody td {vertical-align: top; padding: 6px}
#kanbanWrapper tbody th {background: #f1f1f1}
#kanbanWrapper .board-shadow {height: 0; opacity: 0; transition: opacity 0.2s;}
#kanbanWrapper tbody tr.dragging td.col-droppable {background: #fff4e5}
#kanbanWrapper tbody tr.dragging td.col-droppable.drop-to {background: #ffeacc}
#kanbanWrapper tbody tr.dragging td.col-droppable.drop-to .board-task + .board-shadow {margin-top: 6px;}
#kanbanWrapper tbody tr.dragging td.col-droppable.drop-to .board-shadow {height: 28px; background: #999; background: rgba(0,0,0,0.35); opacity: 1;}
#kanbanWrapper tbody tr.dragging td.col-droppable.drop-to.drag-from .board-shadow {display: none}
#kanbanWrapper .board.drag-from {opacity: 0.8}

#kanban.dragging, .drag-shadow {cursor: move!important;}

.board {background: #333; color: #f1f1f1; color: rgba(255,255,255,0.9); opacity: 1; padding: 3px 6px; transition: all 0.2s; position:relative;}
.board + .board {margin-top: 6px;}
.board:hover {opacity: 1}
.board a {opacity: 0.9; color: inherit}
.board a:hover {opacity: 1}
.board-title, .board-header, .board-footer {padding: 2px 0}
.board-title {padding-right:35px;}
.board-actions {position: absolute; right: 3px; top: 3px}
.board-actions .btn {color: inherit; margin: 0; min-width: 20px}
.board-actions .btn:active, .board-actions .btn:focus, .board-actions .btn:hover {background: #999; color: inherit; background: rgba(255,255,255,.2);}
.ie-8 .board-actions .btn {min-width: 10px}
.board-actions > .dropdown {display: inline-block; margin-left: -5px;}
.dropdown .caret {border-top-color: #999}
.dropdown-menu > a {display: block; padding: 3px 15px; color: #333; font-size: 12px}
.dropdown-menu > a:hover {background: #f1f1f1; color: #1a53ff; text-decoration: none}
.dropdown-menu > a.disabled, .dropdown-menu > a.disabled:hover, .dropdown-menu > a.active {color: #aaa; background: none}
.board .board-footer {display: none; opacity: 0.9}
.board.show-info .board-footer {display: block; margin: 0 -6px -3px -6px; padding: 5px; background: rgba(0,0,0,0.07);}
.board-footer .board-id {display: inline-block; border: 1px solid #aaa; font-weight: normal; padding: 0px 4px; text-align: center; min-width: 20px; line-height: 16px; height: 17px; margin-right: 10px; font-size: 12px;}
.board-bug-closed .board-footer .bug-pri, .board-task-closed .board-footer .task-pri {border-color: #666}
.board-bug-closed .board-footer .board-id, .board-task-closed .board-footer .board-id {border-color: #777}
.board-footer .bug-pri, .board-footer .task-pri, .board-footer .story-pri {margin-right: 10px;}

.pri-0:before, .pri-3:before {content: "3";}
.pri-1:before {content: "1";}
.pri-2:before {content: "2";}
.pri-4:before {content: "4";}
.pri-5:before {content: "5";}
.pri-6:before {content: "6";}

.story-pri {display: inline-block; width: 16px; height: 16px; text-align: center; border-radius: 8px; line-height: 16px; font-size: 12px}
.story-pri.pri-0 {background-color:#b56a00;}
.story-pri.pri-1 {background-color:#E30413;}
.story-pri.pri-2 {background-color:#E84E0E;}
.story-pri.pri-3 {background-color:#b56a00;}
.story-pri.pri-4 {background-color:#795523;}

.board {background: #ddd; color: #444; outline: 1px solid rgba(0,0,0,.1); outline-offset: -1px;}
.board-bug-wait,.board-task-wait {color: #2b529c; background-color: #E8EAF6}
.board-bug-doing,.board-task-doing {color: #D2322D; background-color: #FFEBEE;}
.board-bug-done,.board-task-done {color: #229F24; background-color: #E8F5E9;}
.board-bug-closed,.board-task-closed {color: #666; background-color: #ccc;}
.board:hover {outline: 1px solid rgba(0,0,0,.3);}

.board-story {color: #dd7503; background-color: #FFF3E0;}
.board-story.stage-projected  {color:#777;}
.board-story.stage-developing {color:#D2322D; background-color: #FFEBEE;}
.board-story.stage-developed  {color:#229F24; background-color: #E8F5E9;}
.board-story.stage-testing    {color:#EF6C00; background-color: #FFF3E0;}
.board-story.stage-tested     {color:#827717; background-color: #F9FBE7}
.board-story.stage-released   {color:#9C27B0; background-color: #F3E5F5}

.board.inverse {background: #333; color: #f1f1f1;}
.board.inverse:hover {color: #fff;}
.board-bug-cancel.inverse, .board-task-cancel.inverse {background: #333;}
.board-bug-wait.inverse, .board-task-wait.inverse {background: #2b529c}
.board-bug-doing.inverse, .board-task-doing.inverse {background: #D2322D}
.board-bug-done.inverse, .board-task-done.inverse {background: #229F24}
.board-bug-closed.inverse, .board-task-closed.inverse {background: #777;}

.board-story.inverse {background: #dd7503}
.board-story.stage-projected.inverse  {background-color:#777;}
.board-story.stage-developing.inverse {background-color:#D2322D;}
.board-story.stage-developed.inverse  {background-color:#229F24;}
.board-story.stage-testing.inverse    {background-color:#EF6C00;}
.board-story.stage-tested.inverse     {background-color:#827717;}
.board-story.stage-released.inverse   {background-color:#9C27B0;}

.bug-pri,.task-pri {display: inline-block; width: 16px; height: 16px; text-align: center; border-radius: 8px; border: 1px solid #ddd; font-size: 12px; line-height: 14px;}

.affix {position:fixed; top:0px; width:95%;z-index:1030;}
#kanbanHeader.affix {box-shadow: 0 3px 10px rgba(0,0,0,.1);}
#kanbanHeader.affix th {border-bottom: 1px solid #bbb; background: #114f8e; color: #ccc; color: rgba(255,255,255,.8)}
#kanbanHeader.affix .dropdown > a {color: #fff;}
#kanbanHeader.affix .actions .btn {background: #114f8e; color: #f1f1f1;}
#kanbanHeader.affix th {border-color: rgba(255,255,255,.2)}

.label-delay-doing {background-color: #000; margin-bottom: 2px;}
.label-delay-wait  {background-color: #d2322d; margin-bottom: 2px;}
