#productsBox {padding: 20px;}
#productsBox > .col-sm-4 {padding: 8px 15px; border:1px solid #ddd;margin-bottom:5px; width:32%; margin-right:8px;}
#productsBox > .col-sm-4 label {display:block; cursor: pointer;}
#productsBox > .col-sm-4:hover {background: #f1f1f1; cursor: pointer;}
#productsBox > .col-sm-4.checked, #productsBox > .col-sm-4.checked:hover {background: #E5FFE6; border: 1px solid #229F24;}
.col-sm-4+.col-sm-4 {margin-left: 0;}
