#importTeams {padding: 0}
#importTeams {padding: 0 2px}
#importTeams > div {position: relative;}
#importTeams a {display: block; min-height: 30px; line-height: 30px; padding: 5px 15px; border: 1px solid #e5e5e5; color: #333; margin: 5px 0}
#importTeams a > i {display: inline-block; margin-right: 5px;}
#importTeams a:hover {border:1px solid #39B3D7; background-color: #E5F9FF; text-decoration: none}
#importTeams a.active {border-color: #229F24; color: #229F24; background-color: #E5FFE6}
#importTeams a.active:after {position: absolute; content: '\e60d'; font-family: ZenIcon; font-size: 20px; right: 25px;}
#importTeams a.cancel {color: #D2322D}

.outer .container .table-form {margin-top: 0;}
.outer .table tr > th:first-child, .outer .table tr > td:first-child {padding-left: 5px;}

.modal-dialog {margin-top: 10%;}

.table-form thead > tr > th {background: none; border: none}
