.icon-green-task-create {width: 22px;height: 18px; background:url(theme/default/images/main/zt-icons.png) 0px -582px;} 
.icon-green-task-create:before{display: none;}

.icon-green-task-batchCreate {width: 22px;height: 18px; background:url(theme/default/images/main/zt-icons.png) -44px -582px;} 
.icon-green-task-batchCreate:before {display: none;} 

.icon-green-testcase-batchCreate {width: 22px;height: 18px; background:url(theme/default/images/main/zt-icons.png) -22px -582px;} 
.icon-green-testcase-batchCreate:before{display: none;}