td.delayed{background: #e84e0f!important; color: white;}
#int-dropdown{margin-left: -8px; border-radius: 4px; border: 1px solid #0c64eb}
#projectTaskForm table tbody tr td{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
