.no-padding {padding: 0!important;}

#projectTree {margin-bottom: 0}
#projectTree > .tree-action-item {display: none!important}
#projectTree li > .tree-item-wrapper > .tree-toggle {display: block}
#projectTree li > .tree-item-wrapper:hover {display: block; background-color: #edf3fe; cursor: pointer; margin-left: -20px; padding-left: 20px;}
#projectTree li {line-height: 30px; padding-top: 0; padding-bottom: 0}
#projectTree > li > .tree-item-wrapper {display: block; background-color: #edf3fe; margin-left: -20px; padding-left: 20px; border-bottom: 1px solid #ddd; cursor: pointer}
#projectTree > li > .tree-item-wrapper:hover {background-color: #eee}
#projectTree > li.open > .tree-item-wrapper {border-bottom: none}
#projectTree > li.open + li > .tree-item-wrapper {border-top: 1px solid #ddd}
#projectTree.tree li>.list-toggle:before {content: '\e6bb'}
#projectTree.tree li.open>.list-toggle:before {content: '\e6b8';}
#projectTree.tree li>.list-toggle {top: 2px}
#projectTree .item-type-story > ul > li {padding-left: 10px;}
#projectTree.tree li:before {display: none}
#projectTree .table-bordered tr > td:first-child, #projectTree .table-bordered tr > th:first-child {border-left: 1px solid #ddd; padding-left: 0; padding-right: 0}
#projectTree .item-type-tasks .tree-item-wrapper:hover {background-color: #fff}

.tree-view-btn {min-width: 36px;}
.main > .panel > .panel-heading > .panel-actions {margin-top: -8px; margin-right: -12px;}

.label-task-count {background: #ddd; color: #333}
