.actions-menu {bottom: 12px;}

.flex-col {flex-direction: column;}
.chart > div {margin: auto;}
.pie-chart {position: relative;}
.pie-chart .pie-chart-title {position: absolute; top: 50%; left: 50%; margin-top: -20px; margin-left: -16px}
.m-project-view #mainContent {display: flex; align-items: flex-start;}
#dynamicBlock {height: 50vh; display: flex; flex-direction: column; box-shadow: none;}
#dynamicBlock .panel-body {flex: 1 1 auto; overflow-y: auto;}
