.cycleConfig .checkbox-primary{float:left; width:100px;}
.cycleConfig .tab-pane{padding:8px 0px;}
fieldset legend{font-size:16px;}
.tips span{padding: 0 5px;}
.table td.nowrap{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
