#releaseList {font-size: 13px;}
#releaseList tr:hover {background-color:unset;}
td {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

#releaseList .c-id{width:60px;}
#releaseList .c-build,#releaseList .c-product{width:180px;}
#releaseList .c-branch {width: 120px;}
#releaseList .c-date {width: 120px;}
#releaseList td.c-build {padding-left:8px !important;}
#releaseList .c-execution {width: 120px;}
