.w-300px {width: 300px;}
.w-180px {width: 180px;}
.half-left {text-align: right;}
.half-right {text-align: left;}

#batchCreateForm .input-group,
#batchCreateForm .input-group .form-control {position: static;}
#batchCreateForm .input-group .colorpicker {z-index: 2;}
#batchCreateForm .input-group .colorpicker.open {z-index: 5;}

.c-id {width: 50px;}
.c-pri, .c-keywords {width: 100px;}
.c-branch, .c-type, .c-scene {width: 120px;}
.c-stage {width: 140px;}
.c-precondition {width: 150px;}
.c-story {width: 180px;}
.c-review{width: 105px;}
.c-actions {width: 60px;}
