.w-340px {width:340px}
.chosen  {z-index:99}

#batchEditForm .input-group,
#batchEditForm .input-group .form-control {position: static;}
#batchEditForm .input-group .colorpicker {z-index: 2;}
#batchEditForm .input-group .colorpicker.open {z-index: 5;}
