.w-300px{width:300px}
.w-180px{width:180px}
.half-left {text-align:right}
.half-right{text-align:left}
.chosen-container[id^="module"] .chosen-drop {min-width: 400px; border-top: 1px solid #ddd!important}
.chosen-container[id^="story"] .chosen-drop {min-width: 450px; border-top: 1px solid #ddd!important}

#batchCreateForm .input-group,
#batchCreateForm .input-group .form-control {position: static;}
#batchCreateForm .input-group .colorpicker {z-index: 2;}
#batchCreateForm .input-group .colorpicker.open {z-index: 5;}
#batchCreateForm {overflow-x: auto;}
