.w-220px{width:220px}
.w-170px{width:170px}

#createActionMenu .dropdown-menu {width: 100%;}
#caseForm table tbody tr td{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.dropdown-menu.with-search {padding: 0; min-width: 150px; overflow: hidden; max-height: 302px;}
.dropdown-menu > .menu-search .input-group {width:100%;}
.dropdown-menu > .menu-search .input-group-addon {position: absolute; right: 10px; top: 0; z-index: 10; background: none; border: none; color: #666}
.dropdown-menu > .menu-search .form-control {border: none!important; box-shadow: none!important; border-top: 1px solid #ddd!important;}
.dropdown-list {display: block; padding: 0; max-height: 270px; overflow-y: auto;}
.dropdown-list > li > a {display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 1.53846154; color: #141414; white-space: nowrap;}
.dropdown-list > li > a:hover,
.dropdown-list > li > a:focus {color: #1a4f85;text-decoration: none;background-color: #ddd;}

.pl-5px{padding-left:5px;}

.fail .result-fail, .blocked .result-blocked{color:#f00;}
.pass .result-pass{color:green;}

tbody > tr > td > .btn-icon {margin-right: 3px;}
tbody > tr > td   .icon-bug {margin-left: -8px;}
tbody > tr > td   .icon-share{font-size: 9px;}

.table td.c-title > a:first-child{display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
