.table table td,.outer .table table tbody > tr:last-child td {padding: 2px 0 2px 5px !important; border: none !important;}
.c-name{width: 120px;}
.c-branch {width: 120px;}
.c-line-number {width: 50px;}
.c-id {width: 40px;}
.c-story, .c-module, .c-type {width: 120px;}
.c-stage {width: 160px;}
.c-condition {width: 80px;}
.c-keywords {width: 70px;}
.c-step {width: 300px;}
.form-actions .btn {margin-right: 20px;}
.table td textarea {height: 32px;}
sub {vertical-align: baseline !important;}
