.table.table-form {width: auto;}
.table-form > tbody > tr > td .form-control + .form-control {margin-top: 5px;}

.tree li.has-list > .tree-actions > .tree-action[data-type="delete"] {display: none}
.tree-toggle {cursor: pointer;}
.tree-actions, .tree li.hover > .tree-actions {opacity: 1}

#addChildModal form > .form-control {margin-bottom: 8px;}
#addChildModal .modal-dialog {max-width: 360px;}
