.panel-block {height: 208px;overflow: auto; padding: 0}
.panel-block.dynamic {height: 435px;}
.panel-block .panel-heading {padding: 6px 10px; margin: 0;}
.panel-block .panel-actions.pull-right {line-height: 36px; margin-right: -2px; margin-right: 5px!important\0}
.panel > .table > thead > tr > th, .panel > form > .table > thead > tr > th {background: #f1f1f1!important}
.panel-block td, .panel-block th {padding: 6px 6px 5px;}
.panel-block.dynamic td {padding: 5px 6px 5px; overflow: hidden;}
.panel-block tr > td:first-child, .panel-block tr > th:first-child, .outer .table tr > th:first-child, .outer .table tr > td:first-child {padding-left: 10px;}
.panel-block .icon {color: #666; display: inline-block; margin-right: 2px;}
#wrap .outer {padding: 20px 20px 0}
.outer .panel-block .table tbody > tr:last-child td {border-bottom: none}

.outer .row {padding: 0 !important; margin: 0 -10px}
.outer .row > .col-md-8, .outer .row > .col-md-4 {padding: 0 10px}

.projectline-canvas {position: relative;}
