.block {border:1px solid #efefef; height:225px;}
.dynamic{border:1px solid #efefef;}
.linkbox1{height:180px; overflow-y:auto}
.linkbox2{height:225px; overflow-y:auto}

#row1{margin-bottom:20px}
#row2{margin-bottom:10px}
#row1 .table-1, #row1 caption{border:none}
#row2 .table-1, #row2 caption{border:none}

caption .f-left {padding-left:0px}

.icon-dynamic {padding-left:16px; background:url(../theme/default/images/main/zt-icons.png); background-position:-65px -444px;}
.icon-more    {padding-left:16px; background:url(../theme/default/images/main/zt-icons.png); background-position:-202px -443px;}
.icon-todo    {padding-left:16px; background:url(../theme/default/images/main/zt-icons.png); background-position:-2px  -443px;}
.icon-bug     {padding-left:16px; background:url(../theme/default/images/main/zt-icons.png); background-position:-42px -442px;}
.icon-task    {padding-left:16px; background:url(../theme/default/images/main/zt-icons.png); background-position:-22px -442px;}
.icon-story   {padding-left:16px; background:url(../theme/default/images/main/zt-icons.png); background-position:-82px -443px;}
