.panel-block {height: 207px;overflow: auto; padding: 0}
.panel-block.dynamic {height: 435px;}
.panel-block .panel-heading {padding: 6px 10px; margin: 0}
.panel-block .panel-actions {line-height: 36px}
.panel > .table > thead > tr > th, .panel > form > .table > thead > tr > th {background: #f1f1f1}
.panel-block td, .panel-block th {padding: 6px;}
.panel-block.dynamic td {padding: 6px 6px 5px}
.panel-block tr > td:first-child, .panel-block tr > th:first-child {padding-left: 10px;}
.panel-block td .progressbar {display: inline-block; height: 16px; background: #229F24;}
.panel-block .icon {color: #666; display: inline-block; margin-right: 2px;}
