body.body-modal {padding-bottom: 20px; min-height: 400px;}
.side-col {padding-right: 40px; padding-top: 25px;}
.btn-block {display: block; width: 100%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.m-my-managecontacts {height: 450px;}
.chosen-container .chosen-results {max-height: 260px;}
