body.body-modal {padding-bottom: 20px; min-height: 400px}

.side-col {padding-right: 40px; padding-top: 25px;}

.btn-block {display: block; width: 100%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}