#contactTab .listitem {color: inherit}
#contactTab .listitem.selected {color: var(--color-primary-500); font-weight: bold;}

#contactPanel .form-row .form-group {padding-left: 70px;}
#contactPanel .form-row .form-group .form-label {padding-left: 0; justify-content: start; width: 80px;}
#contactPanel .form-actions {margin-top: 0;}
