.dl-horizontal dt{color:#999; font-weight:normal; padding:5px 0px; width:80px;height:30px;}
.dl-horizontal dd{padding:5px 0px; margin-left:100px;overflow: hidden;text-overflow: ellipsis;height:30px; white-space: nowrap;}
