.body-modal .main-header {padding: 20px 0px 24px 0; border-bottom: unset;}
.row table {width: 100%; margin-top: 5px; margin-left: 20px;}
table+table {border-top: 1px solid #eee;}
.row th {width: 17%; line-height: 30px; padding-right: 20px; text-align: right; font-weight: unset;}
.row td {width: 33%; text-align: left; font-weight: 700;}
.main-actions {margin: 5px 0 10px 0; text-align: center;}
.user-title {margin: 10px 10px -10px 10px; font-size: 14px; font-weight: bold; padding-left: 10px;}
.user-name {font-weight: bold;}
.user-role {color: #5B606E;}
.user-name, .user-role {font-size: 14px; vertical-align: top; display: table; padding-left: 310px;}

#avatarUpload {display: inline-block; width: 40px; height: 40px; position: absolute; left: 265px}
#avatarForm {position: absolute; top: 0; left: 0; right: 0; bottom: 0;}
#avatarUploadBtn {display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0;}
#avatarUploadBtn {opacity: 0; color: #fff; border-radius: 50%; line-height: 50px;}
#avatarUploadBtn:hover {opacity: 1; background-color: rgba(0,0,0,.5);}
