#programTableList > tr.drop-not-allowed {opacity: 0.1 !important;}
#programList .c-actions {overflow: visible;}
#programTableList > tr:last-child .c-actions .dropdown-menu {top: auto; bottom: 100%; margin-bottom: -5px;}
