#projectTableList > tr.drop-not-allowed {opacity: 0.1 !important;}
#projectList .c-actions {overflow: visible;}
#projectTableList > tr:last-child .c-actions .dropdown-menu {top: auto; bottom: 100%; margin-bottom: -5px;}
#projectList .c-budget {width: 100px; padding-right: 20px;}
#projectTableList .c-budget {width: 100px; padding-right: 20px;}

.c-date {width: 80px;}
.label-warning, .label-info {width: 60px !important;}
.project-type-label.label-outline {width: 50px; min-width: 50px;}
.c-date {width: 120px;}
