.datepicker-wrapper {width: 110px !important;}
.datepicker-wrapper .form-control {max-width: 110px; line-height: 25px; height: 26px !important;}
.btn-group button.dropdown-toggle.btn-primary {padding: 6px;}
.btn-group a.btn-primary {border-right: 1px solid rgba(255,255,255,0.2);}
.btn-toolbar .space {min-height: 1px; margin: 0 -3px 0 10px;}
.iconCenter {top: -2px !important;}

#switchButton {background: #fff !important;}
.panel-actions {position: relative; padding: 0;}
.panel-actions .btn-icon {padding-left: 7px;}
[lang^=de] .c-pri {width: 69px;}
[lang^=fr] .c-pri {width: 82px;}
[lang^=en] .c-user, [lang^=fr] .c-user {width: 100px !important;}
