.ztf-block {width: 100%; margin-top: 22px; background: linear-gradient(to bottom, #deeaf8 , #f4f7fe); display: inline-flex; box-shadow: 2px 2px 5px #e2dede;}
.ztf-logo {width: 40%; height: 190px; display: inline-block; line-height: 190px; text-align: right; padding-right: 65px;}
.ztf-download {width: 45%; height: 190px; display: inline-block;}
.ztf-download-trait {display: inline-block; width: 100%; margin: 45px 0px 6px 0px; font-weight:bold; font-size: 15px; color: #0c4678;}
.ztf-download-trait div {width: 35%; float: left; padding: 8px 0px;}
.ztf-download-button {width: 100%;}
.ztf-download-button a {margin-right: 15px; font-weight:bold; font-size: 14px;}
.dot-symbol{font-size: 12px; margin-right: 5px;}

.block-content {width: 100%;}
.block-details {width: 49%; display: inline-block; padding: 30px 140px; margin-top: 20px; box-shadow: 2px 2px 5px #e2dede;}
.block-details-right {float: right;}
.block-details p {font-size: 18px; font-weight:bold; margin: 0 0 10px 20px;}
.block-details li {width: 40%; float: left; padding: 6px 0px; font-size: 14px; font-weight:bold; color: #666666; text-align: left; list-style:none;}
.block-details-line li {width: 100%;}

.zendata-block {width: 100%; margin-top: 40px; background: linear-gradient(to bottom, #deeaf8 , #f4f7fe); display: inline-flex; box-shadow: 2px 2px 5px #e2dede;}
.zendata-logo {width: 40%; height: 170px; display: inline-block; line-height: 170px; text-align: right; padding-right: 90px;}
.zendata-download {width: 45%; height: 170px; display: inline-block;}
.zendata-download-trait {display: inline-block; width: 100%; margin: 60px 0px 6px 0px; font-weight:bold; font-size: 15px; color: #0c4678;}
.zendata-download-trait div {margin-right: 35px; float: left; padding: 8px 0px;}
.zendata-download-button {width: 100%;}
.zendata-download-button a {margin-right: 15px; font-weight:bold; font-size: 14px;}

.zentata-content {display: table; width: 100%; table-layout: fixed; margin-top: 20px;}
.block-zendata-block {display: table-cell;}
.block-zendata {width: 96%; display: inline-block; padding: 30px 40px; margin-top: 20px; box-shadow: 2px 2px 5px #e2dede;}
.block-zendata p {font-size: 18px; font-weight:bold; margin: 0 0 10px 20px;}
.block-zendata li {width: 100%; float: left; padding: 6px 0px; font-size: 14px; font-weight:bold; color: #666666; text-align: left; list-style:none;}
.qr-code {margin-top: 20px; padding: 20px 0px 20px 58px; box-shadow: 2px 2px 5px #e2dede;}
.qr-code-img {width: 90px; height: 90px; display: inline-block; float: left;}
.qr-code-details {display: inline-block; margin: 10px 0px 0px 10px;}
.qr-code-details div{margin: 5px 0px;}
.qr-code-group {color: #898989;}
@media screen and (max-height: 768px)
{
  .qr-code {padding: 20px 0px 20px 43px;}
  .block-details li {width: 50%;}
  .block-details-line li {width: 100%;}
  .ztf-download-trait div {width: 47%;}
  .block-details {padding: 30px 60px;}
  .block-zendata {padding: 30px 25px;}
}

@media screen and (max-height: 720px)
{
  .zendata-download {width: 50%;}
  .ztf-download-trait {margin: 35px 0px 6px 0px;}
  .block-zendata {padding: 30px 14px;}
  .ztf-download {width: 48%;}
  .qr-code {padding: 20px 0px 20px 32px;}
}
.btn-automation {background: linear-gradient(to bottom, #0bb6fb, #0d67e1); border: 0px; padding: 8px 12px;}
