config/db.php
config/my.php
www/data/
www/install.php
www/upgrade.php
www/checklist.php
www/ok.txt
tools/*
release/*
tmp/*
tmp/log/*
tmp/model/*
tmp/cache/*
tmp/extension/*
extension/pro/*
extension/biz/*
extension/max/*
extension/xuan/*
extension/custom/*
test/data/sql/
.bak
.idea
.vscode
.gitignore
.DS_Store
vendor/
docker
.docker-sync
composer.lock
.editorconfig
CodeSniffer.conf
test/runtime/*
test/www
!/**/.gitkeep
