config/db.php
my.php
www/data/
www/install.php
www/upgrade.php
www/checklist.php
www/ok.txt
www/xhprof
tools/*
release/*
tmp/*
tmp/log/*
tmp/model/*
tmp/cache/*
tmp/extension/*
extension/pro/*
extension/biz/*
extension/max/*
extension/xuan/*
extension/custom/*
test/data/sql/
.bak
.idea
.vscode
.gitignore
.DS_Store
vendor/
docker
.docker-sync
composer.lock
.editorconfig
CodeSniffer.conf
test/runtime/*
test/www
!/**/.gitkeep
.scannerwork
bin/roadrunner/rr
rr
build/*.gz

**/test/model/data/*.yaml
**/test/model/data/sql/*.sql
**/test/tao/data/*.yaml
**/test/tao/data/sql/*.sql
**/metric/test/calc/**/data/*.yaml
**/metric/test/calc/**/data/sql/*.sql
