.c-id {width: 70px;}
.c-memory{width: 100px;}
.c-status {width: 90px;}
.c-cpu, .c-host {width: 100px;}
.c-ip{width: 150px;}
.c-os, .c-type {width: 120px;}
.desktop, .createImage{margin-right: 4px;}
#helpTab .icon-help {line-height: unset;}
#bysearchTab {margin-right: 0px;}

.c-actions a img{position: relative; left: -80px; filter: drop-shadow(#18a6fd 80px 0); width: 18px;}
.c-actions a.disabled img {filter: drop-shadow(#313c52 80px 0);}
