#main{min-width: 0!important;padding:0!important;}
#main .container{padding:0!important;}
body{background-color: #fff!important;}

.c-createdBy {width: 100px;}
.c-datetime {width: 130px;}
.c-status {width: 120px;}
