.no-data {height: 400px; width: 100%; position: relative;}
.no-data-dom {color: var(--color-gray-400); position: absolute; top: 50%; bottom: 50%; left: 50%; transform: translate(-50%, -50%); white-space: nowrap;}
