.panel-title {margin-bottom: 12px;}
.empty-tip {height: 100%; min-height: 200px; align-items: center; display: flex; justify-content: center;}
.echart-content {min-height: 400px; width: 100%;}

.filterBox {display: flex;}
.filter-item {flex: 0 0 25%; box-sizing: border-box;}
.left-section {flex: 0 0 85%; display: flex; flex-wrap: wrap;}
.right-section {flex: 0 0 15%; display: flex; justify-content: center; align-items: center;}
