.flex {display: flex;}
.flex-1 {flex: 1;}
.align-center {align-items: center;}
.justify-center {justify-content: center;}
.reset-btn {margin-left: 20px;}
.title {font-size: 13px; color: #313C52; font-weight: 700; height: 40px; text-align: center;}
.h-full {height: 100%;}

/* menu-tree */
.menu-tree {flex: 0 0 200px; background: #fff; padding: 10px 10px;}
.menu-tree > .tree {padding-top: 20px;}
.tree ul {margin-bottom: 0;}
#menuTree > li.has-list > ul > li {padding-left: 10px;}
#menuTree > li.has-list > ul > li.has-list {padding-left: 15px;}

/* main-box */
.flex.main-box {gap: 15px;}

/* title-content */
.title-content {gap: 20px;}
.title-content > .title {margin-left: 44px; width: 160px;}

/* form-content */
.form-item-content {padding-left: 44px;}
.form-item-content > .form-item {gap: 64px; height: 56px; align-items: center; position: relative;}
.form-item-content > .form-item >  .label {flex: 0 0 160px; padding-left: 40px; background: #F8F8F8; display: flex; align-items: center; color: currentColor;}
.form-item-content > .form-item >  .input-group {margin-left: 20px;}
.form-item-content > .form-item >  .input-control > input {margin-left: 40px;}
.form-item-content > .form-item.active .icon {display: unset;}
.form-item-content > .form-item .icon {display: none; position: absolute; left: -50px; top: 2px; font-size: 25px;}
.form-item-content.hover-color-primary > .form-item.active > .label {color: blue;}
.form-item-content.hover-color-primary > .form-item.active .form-control {border-color: blue;}
.form-item-content.border-color-primary > .form-item .form-control {border: 1px solid blue;}


/* bottom-btn */
.bottom-btn {display: flex; align-items: center; background: #fff; padding-left: 150px; padding-bottom: 20px;}
