.align-center {align-items: center;}
.justify-center {justify-content: center;}
.title {font-size: 13px; color: #313C52; font-weight: 700; padding-left: 40px;}
.h-full {height: 100%;}
.flex-center {display: flex; justify-content: center; align-items: center;}
[lang ^= zh-cn] .form-item-content > .form-item >  .item-label {flex: 0 0 160px;}

/* menu-tree */
#mainContent .sidebar {width: 200px;}
.sidebar > header {margin-bottom: 10px;}
.tree ul {margin-bottom: 0;}

/* main-box */
.flex.main-box {gap: 15px;}

/* title-content */
.title-content {gap: 20px;}
.title-content > .title {margin-left: 44px; width: 160px;}
.title-content > .title.title-input {padding-left: unset; text-align: center; width: 220px;}

/* form-content */
.form-item-content {padding-left: 44px;}
.form-item-content  .form-item {gap: 64px; height: 56px; align-items: center; position: relative; width: 500px;}
.form-item-content  .form-item.w-expand {width: 700px;}
.form-item-content  .form-item .item-label {flex: 0 0 180px; padding-left: 40px; background: #F8F8F8; display: flex; align-items: center; color: currentColor; font-size: 13px; overflow: hidden;}
.form-item-content  .form-item .item-label.lg {flex: 0 0 180px;}
.form-item-content  .form-item .input-group {margin-left: 20px; width:180px; height:32px;}
.form-item-content  .form-item .input-group > .input-group-addon {flex: 1 1 30%; overflow: hidden;}
.form-item-content  .form-item .input-control > input {margin-left: 40px;}
.form-item-content  .form-item .icon {display: none; position: absolute; left: 200px; top: 16px; font-size: 25px;}
.form-item-content.border-color-primary > .form-item .form-control {border: 1px solid blue;}

#menuTree > li > a, #menuTree > li > ul > li > a {white-space: nowrap; text-overflow: clip; overflow: hidden;}

/* bottom-btn */
.bottom-btn {display: flex; align-items: center; background: #fff; padding-left: 150px; padding-bottom: 20px;}
