.flex {display: flex;}
.h-32 {height: 32px;}
.py-6 {padding: 6px 0;}
.my-12 {margin: 12px 0;}
.ml-20 {margin-left: 20px;}
.title {font-size: 13px; color: #313C52; font-weight: 700; height: 40px; text-align: center;}

/* side-left */
.main-content > .side-left {flex: 0 0 160px; margin-left: 64px;}
.label-list {background: #F8F8F8; padding: 5px 0;}
.label-list > .input-label {display: flex; align-items: center; cursor: pointer; padding-left: 40px;}

/* side-right */
.main-content > .side-right {margin-left: 50px;}
.main-content > .side-right > .input-list {padding: 5px 0;}
.main-content > .side-right > .input-list > .input-control {position: relative;}
.main-content > .side-right > .input-list > .input-control > i.icon {position: absolute; font-size: 25px; left: -40px; top: 3px;}

/* bottom-btn */
.bottom-btn {display: flex; align-items: center; background: #fff;padding-left: 150px; padding-bottom: 20px;}
