::-webkit-scrollbar {width: 10px; height: 10px;}
::-webkit-scrollbar-button {width: 0; height: 0;}
::-webkit-scrollbar-thumb:vertical {min-height: 28px; background-color: rgba(0, 0, 0, 0.2); background-clip: padding-box; border-radius: 2px; -webkit-box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);}
::-webkit-scrollbar-track:hover {background-color:rgba(0,0,0,.05);-webkit-box-shadow:inset 1px 0 0 rgba(0,0,0,.1);}
::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0,.4);}

.expandable > ul {display: none !important}
.m-editor-extend {padding-bottom: 0px; background-color: #fff;}
.collapsable > ul {display: block !important}
.tree li:before {margin-right: 4px;}
.tree li > a {display: inline;}
.m-editor-extend .main-header {padding: 10px 20px; }
.m-editor-extend .main-content {padding: 0px; padding-top: 10px; box-shadow: none;}
#extendTree li a {white-space: nowrap;}
#extendTree span {padding: 0 4px;}
