div.no-background .input-group-addon {background: none;}
.items-center {align-items: center !important;}
.flex-center {justify-content: center;}

#modalTeam .table tr {border:none}
#modalTeam .team-saveBtn {text-align: center !important}
#modalTeam .team-saveBtn .btn{min-width: 96px;}
#modalTeam .team-index {text-align: right;}
.team-number {display: inline-block; width: 20px; height: 20px; line-height: 20px; border-radius: 10px; text-align: center; background: #f4f5f7;}

#teamTable tr td:first-child {width: 40px; position: relative;}
#teamTable tr td:first-child .icon{position:absolute; top: 40px; right: 19px;display: block; font-size: 8px; color: #9ea3bd;}
#teamTable tr:nth-last-child(2) td:first-child .icon {display: none;}
#teamTable td.required {position: relative;}
#teamTable td.required:after {content: '*'; color: rgba(var(--color-danger-500-rgb),var(--tw-text-opacity)); position: absolute; top: 1rem; right: 0.125rem; font-size: 16px;}
