.flex-none {flex: none !important;}
#taskCreateForm #pri {width: 5rem;}
#taskCreateForm .empty-story-tip input {padding: 0;}
#taskCreateForm .empty-story-tip .input-control-suffix {padding-right: 0;}
#taskCreateForm .empty-story-tip .input-control-suffix .btn:hover:before {background: none;}
