#copyButton {width: 80px; background-color: #f1f1f1; opacity: 1;} /* Adjust for task #4151; */

.title-group.required:after {display: none;}
.title-group.required > .required:after {display: block; right: 29px; top: 5px;}
#copyStory-input:after {display: block; right: 110px; top: 5px;}
#pri + .chosen-container > .chosen-single {border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important;}

.pri-selector > .btn {padding: 5px 8px !important; width: 100%;}
.pri-selector > .dropdown-menu {padding: 10px;}

#testStoryBox table tr td {padding: 0px;}
#testStoryBox table tr td .chosen-container .chosen-single {border: 0px;}
#testStoryBox table tr td .chosen-compact.chosen-container-single .chosen-single>.chosen-search {top: 0; right: 0; left: 0;}
#testStoryBox table tr td input {border: 0px;}
#testStoryBox table tr td .input-group .input-group-addon {border-left: 1px solid #dcdcdc; border-right: 1px solid #dcdcdc;}
#testStoryBox table button.btn {border: 0px;}
#testStoryBox .c-name {width: 120px;}
#testStoryBox .c-pri, #testStoryBox .c-estimate, #testStoryBox .c-actions {width: 70px;}
#testStoryBox .c-date {width: 140px;}
#testStoryBox .c-assignedTo {width: 100px; padding: 7px;}

.chosen-results > li.has-test,
.chosen-results > li.has-new-test {position: relative; color: #388E3C;}
.chosen-results > li.has-test.highlighted,
.chosen-results > li.has-new-test.highlighted {color: #fff;}

.c-multipleTask {width: 110px;}
.c-modulel {width: 110px;}

.keep-row-height {height: 32px;}
#modalTeam .modal-dialog {height: 340px; width: 620px; color: #3c4353;}
#modalTeam .modal-content {padding: 0 0 5px; height: 340px;}
#modalTeam .modal-header {height: 44px; padding: 10px 20px; margin: 0;}
#modalTeam .modal-header .modal-title {font-size: 13px; line-height: 24px;}
#modalTeam .modal-body {padding: 12px 13px 20px; max-height: 296px!important; overflow-y: scroll!important;}
#taskTeamEditor tr {padding: 8px 7px 8px 7px;}
#taskTeamEditor td .chosen-single .chosen-search input,
#taskTeamEditor tr td .chosen-single {height: 35px; line-height: 24px;}
#taskTeamEditor td .chosen-single .chosen-search::before {top: 10px;}
#taskTeamEditor tr td:first-child {width: 40px; position: relative;}
.team-number {display: inline-block; width: 20px; height: 20px; line-height: 20px; border-radius: 10px; text-align: center; background: #f4f5f7;}
#taskTeamEditor tr td:first-child .icon { position: absolute; top: 42px; left: 10.5px; display: block; font-size: 8px; color: #9ea3bd;;}
#taskTeamEditor tr:last-child td:first-child .icon {display: none;}

#modalTeam .modal-content input[type="text"]::input-placeholder{color: #c4c4c4;text-align: left;}
#modalTeam .modal-content input[type="text"]::-webkit-input-placeholder{color: #c4c4c4;text-align: left;}
#modalTeam .modal-content input[type="text"]::-moz-placeholder{color: #c4c4c4;text-align: left;}
#modalTeam .modal-content input[type="text"]::-ms-input-placeholder{color: #c4c4c4;text-align: left;}
