#copyButton {width: 56px; background-color: #f1f1f1; opacity: 1;} /*Adjust for task #4151;*/

.title-group.required:after {display: none;}
.title-group.required > .required:after {display: block; right: 29px; top: 5px;}
#pri + .chosen-container > .chosen-single {border-top-left-radius: 0!important; border-bottom-left-radius: 0!important;}

.pri-selector > .btn {padding: 5px 8px!important; width: 100%;}
.pri-selector > .dropdown-menu {padding: 10px;}

.title-group .has-icon-right{min-width:700px}
