.empty-story-tip .input-control-prefix {z-index: 2;}
.assignedToBox {align-items: center !important}
.assignedToBox .add-team {margin-bottom: 5px}
.assignedToList {display: flex; align-items: center; overflow: hidden;}
.assignedToList .picker-multi-selection, .assignedToList .icon{margin-right: 5px; margin-bottom: 5px}
.panel-heading {z-index: 2 !important;}
