.empty-story-tip .input-control-prefix {z-index: 2;}
.assignedToBox {align-items: center !important}
.assignedToList {display: flex; align-items: center; overflow: hidden;}
.assignedToList .picker-multi-selection, .assignedToList .icon{margin-right: 5px;}
.assignedToBox .add-team {height: 24px; width: 81px; margin-left: 0.25rem;}
.panel-heading {z-index: 2 !important;}
.assignedToBox.border {border-color: var(--form-control-border); padding-top: 0.25rem; padding-bottom: 0.25rem;}
