.pl-10px {padding-left: 10px;}
#showAllModuleBox{width:60px;}
#showAllModuleBox .no-margin {padding-left:22px;}
#taskTeamEditor .sortable .input-group .input-group-addon.required:after {top: 10px; right: 2px; z-index: 3;}
