.form-condensed .table-form {margin-bottom: 20px;}
.estimateTitle {font-weight: normal;}
.consumedTitle {font-weight: normal;}
.estimateShow {background: #FFEFEF; border-radius: 9px; color: #FF6262; padding: 3px 7px; margin: 0 5px 0 5px; font-weight: normal; min-width: 18px;}
.consumedShow {background: #EAF3FF; border-radius: 9px; color: #2B80FF; padding: 3px 7px; margin: 0 5px 0 5px; font-weight: normal; min-width: 18px;}
