#mainContent {min-height: 500px;}
.table-recorded thead{background: rgb(245 245 245);}
.form-condensed .table-form {margin-bottom: 20px;}
.hours {display: flex; float: left; transform: translate(0, 50%); margin: 0;}
.estimateTotally, .consumedTotally {border-radius: 9px; padding: 3px 7px; margin: 0 5px 0 5px; min-width: 18px;}
.consumedTotally {background: #EAF3FF; color: #2B80FF;}
.estimateTotally {background: #FFEFEF; color: #FF6262;}
.nav > li.divider {margin: 0 10px 0 5px; background-color: #000; opacity: 0.06; width: 1px ; height: 15px; padding: 0 !important;}
.table-bordered td, .table-bordered th { border: 1px solid #EEEEEE; }
.table-recorded thead { background: #F5F6F8}
.table>thead>tr>th{ border-bottom: 1px solid #EEEEEE}
#linearefforts .nav li.active a{color: #0c64eb !important}
.input-group-addon {background: #fff}
.icon-calendar {color: rgb(22, 168, 248)}
#recordForm .table>thead>tr>th{ border: none}
.main-header {border-bottom: none !important}
.main-header ul.hours:before{content:"（"}
.main-header ul.hours:after{content:"）"}
.body-modal .main-header>h2 { max-width: 70% !important; margin-right:0px;}
.table-record .form-date {border-right: none;}
