#chartForm .form-actions > .btn {min-width: 0;}
.chart-form .panel-body {padding: 0;}
.chart-form .panel-heading {padding: 1rem 0 0.5rem 0;}
.chart-form .panel-heading .panel-title {font-size: 0.8125rem; line-height: 1.25rem;}
