.labelWidth .checkbox-primary {width: 20%; display:inline-block}
.checkbox-primary + .checkbox-primary {margin-left: 0px;}
.objectType {margin-right: 5px !important;}
#paramsTR th{padding-left:25px;}
#paramsTR th label{font-weight:bold; padding-left:25px;}
