#todoBatchAddHeader {padding-bottom: 12px;}
#todoBatchAddHeader .input-group {width: 230px; position: relative; top: -3px; left: 15px;}
#todoBatchAddForm .col-id {width: 50px; text-align: center; color: #838A9D}
#todoBatchAddForm .col-type {width: 120px;}
#todoBatchAddForm .col-pri {width: 90px;}
html[lang="en"] #todoBatchAddForm .col-pri {width: 105px}
#todoBatchAddForm .col-date {width: 180px;}
#todoBatchAddForm .col-pending {width: 70px;}
html[lang="en"] #todoBatchAddForm .col-pending {width: 90px;}
#todoBatchAddForm .chosen-container-single .chosen-single {border-radius: 0;}
#todoBatchAddForm .control-time-begin + .chosen-container-single .chosen-single {border-radius: 2px 0 0 2px; border-right-width: 0; padding-right: 1px;}
#todoBatchAddForm .control-time-begin + .chosen-container-active .chosen-single {border-right-width: 1px; padding-right: 0;}
#todoBatchAddHeader [name="date"]:disabled {color: #ccc; text-decoration: line-through;}
.main-header > .input-group {width: 240px;}
html[lang="en"] .main-header > .input-group {width: 250px;}
