.input-group > .form-control:first-child {border-right: 0;}

div[id*="ends"] .chosen-single {border-left: none;}

.c-id {width: 40px;}
.c-pri {width: 100px;}
.c-status {width: 120px;}
.c-date {width: 300px;}
