.todoType {margin-top: 6px;}
.dateSwitcher {margin-top: 6px;}
.form-horizontal .required::after {right: -10px;}
.tab-content .tab-pane .input-group {padding: 5px 0px; width: 380px;}
.nameBox {display: grid;}
.chosen-container-single .chosen-single {height: 34px;}
#begin_chosen .chosen-single {border-right-width: 0px;}
.beginBox {padding-right: 0px;}
.endBox {padding-left: 0px;}
.beforeDaysBox {width: 250px; padding-top: 5px;}
.nameBox + span {border-radius: 0px;}
