.main-position {position: relative;}
.toolbar-padding {padding-right: 100px;}
.child-position {position: absolute; right: 0;}
#reportGroups .active {background-color: #e9f2fb; color: #006af1;}
.biz-version {padding-top: 10px;}
.biz-version a {color: #81511C;}
