.up {color: red; padding-right: 2px;}
.down {color: green; padding-right: 2px;}
.zero {color: #66CD00;}
.u50 {color: #ED1C24;}
.u30 {color: #F37021;}
.u10 {color: #FAA61A;}
.u0 {color: #FFCB05;}
.d0 {color: #76B043;}
.d20 {color: #33A52E;}
