.c-desc {width: 500px;}
.c-order {width: 70px;}
.c-check {width: 40px}

a.setDefault {padding-left: 8px !important}

td.branchName > span.text-ellipsis {display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
td.branchName > span {vertical-align: middle;}

#mergeBranch .form-actions {padding-top: 20px;}
.modal-body {padding-top: 0;}
.tips {background-color: #ffffff; max-width: 650px; display: flex; padding: 14px;}
.icon-exclamation-sign.icon {align-self: center; color: #2667E3; font-size: 24px; opacity: 1;}
#marginTips {max-width: 585px; margin-left: 10px;}
