#titlebar {display: none;}
#querybox {float: none !important; width: auto;}
#moreOrLite {right: 10px !important;}

#userList tbody td {white-space: nowrap; overflow: hidden;}
.space-sm + .text-center {display: none;}
