#titlebar {display: none;}
#querybox {float: none !important; width: auto;}
#moreOrLite {right: 10px !important;}

#userList tbody td {white-space: nowrap; overflow: hidden;}
.space-sm + .text-center {display: none;}
.c-role, .c-company, .c-visits {width: 90px;}

.btn-group a.btn-primary {border-right: 1px solid rgba(255,255,255,0.3);}
