#featurebar ul.nav > li .chosen-container{height:20px;}
#featurebar ul.nav > li .chosen-container a.chosen-single{background:#F8FAFE; border:none; -webkit-box-shadow:none;box-shadow:none; font-size:14px;padding-top:0px;}
#featurebar ul.nav > li .chosen-container a.chosen-single div{top:-8px;}
#featurebar ul.nav > li.active .chosen-container a.chosen-single{font-weight:bold}
#featurebar ul.nav > li .chosen-container .chosen-drop {min-width: 300px;!important}
#featurebar .nav > li > .chosen-container-single{top:-1px!important}
#featurebar .nav > li > .chosen-container-single .chosen-single div{padding: 6px 22px!important}
