#object_chosen .chosen-single {width: 260px;}
#dept_chosen .chosen-single {width: 220px;}
#object_chosen .chosen-drop ul li .label {margin-top: 2px; background: #fff; color: #838a9d; border: 1px solid #d8d8d8;}
