.checkbox-primary {margin-top: 6px;}
.tip {display: inline-block; vertical-align: middle; margin-top: 6px;}
#mainMenu .icon.icon-help {margin-left: 5px;}
td.padding-right {padding-right: 20px !important}

.c-program {width: 150px;}
.c-progress {width: 70px;}
[lang^=zh].c-progress {width: 60px;}
