#mainContent .table-empty-tip {padding: 180px 60px; text-align: center;}
#mainContent .table {table-layout: fixed; background-color: #fff; cursor: pointer; border: 1px solid #ddd;}
#mainContent .table td {white-space:nowrap; text-overflow:clip; overflow:hidden; position:unset !important; border-bottom-color:#ddd !important; border: 1px solid #ddd;}
#mainContent .table .requirement{background: #fff}
#mainContent .main-table tbody > tr:hover { background-color: #fff;}
#mainContent .main-table tbody > tr:nth-child(odd):hover { background-color: #f5f5f5;}
#mainContent .main-table thead > tr > th {overflow: hidden; border: 1px solid #ddd;}
#mainContent .table-footer {background: #fff; padding: 5px; margin-bottom: 10px;}
#mainContent td.empty-tip {padding: 80px;}
