.branch-list {padding-left: 0; margin: 0;}
.branch-list > li {float: left; list-style: none; width: 50%; margin: 5px 0;}
.table-data tbody > tr > th {width: 110px;}
.col-12 .cell table td {word-wrap: break-word; word-break: normal;}
td.normal {color: #00da88;}
td.acl {white-space: nowrap;}
.row > .col-sm-12:first-child {padding-bottom: 20px;}
.c-product ,.c-release ,.c-code  {width: 100px !important;}
.c-openedBy ,.c-acl ,.c-prs ,.c-common {width:110px !important;}
.c-bugs ,.c-type {width:120px !important;}
.c-release {padding-right: 20px !important;}
