#main {padding-bottom: 0;}
#dtable .dtable-header, #executionsForm .dtable-rows {z-index: 4;}
.table-header.fixed-right > .btn-toolbar {right: 0; background-color: #f1f5f9;}

#dtable {overflow-x: auto;}
#dtable input[type=checkbox] {margin: 0px}
#dtable .dtable-body {z-index: 3;}

#dtable .dtable-block {overflow: visible;}
#dtable .scrollbar.is-vert {display: none;}
.table-footer {border-top: 1px solid #fff4ea}
.table-footer .pager{z-index: 10}
#dtable .scrollbar {z-index: 11}

.dtable {--dtable-checked-bg: #fff4ea; --dtable-border-color: #f4f5f7}
.dtable-row {border-bottom-style: solid;}
.dtable-cell-html a{color: #2463c7}
.dtable-cell[data-sort='up']   .dtable-sort:before {color: #000; opacity: 1}
.dtable-cell[data-sort='down'] .dtable-sort:after  {color: #000; opacity: 1}
.dtable .toggle-icon {border-radius: 50%; border-style: solid;}
.dtable-nested-toggle.is-no-child {display: block; opacity: 0; pointer-events: none;}

.dtable-row.is-normal .dtable-cell[data-col="name"] {padding-left: 20px;}
