body {margin-bottom: 25px;}

#myTable .dtable-header, #executionsForm .dtable-rows {z-index: 4;}
.table-header.fixed-right > .btn-toolbar {right: 0}

#myTable input[type=checkbox] {margin: 0px}

.table-footer .pager{z-index: 10}
#myTable .scrollbar {z-index: 11}

.dtable-cell-html a{color: #2463c7}
.dtable-cell[data-sort='up']   .dtable-sort:before {color: #000; opacity: 1}
.dtable-cell[data-sort='down'] .dtable-sort:after  {color: #000; opacity: 1}
