[lang^='en'] #newTipsModal {margin-top: 10%; max-width: 620px;}
[lang^='zh-cn'] #newTipsModal {margin-top: 10%; max-width: 530px;}
[lang^='zh-cn'] #classicTipsModal {margin-top: 10%; max-width: 420px;}
[lang^='en'] #classicTipsModal {margin-top: 10%; max-width: 450px;}
.chosen-container-single .chosen-single > span {max-width: 100%;}

#copyProjectModal {padding: 0;}
#copyProjectModal {padding: 0 2px;}
#copyProjectModal > div {position: relative;}
#copyProjectModal a {display: block; min-height: 30px; line-height: 30px; padding: 5px 15px; border: 1px solid #e5e5e5; color: #333; margin: 5px 0; border-radius: 3px;}
#copyProjectModal a > i {display: inline-block; margin-right: 5px;}
#copyProjectModal a:hover {border: 1px solid #00a9fc; background-color: #E9F2FB; text-decoration: none;}
#copyProjectModal a.active {border-color: #00da88; color: #00da88; background-color: #E5FFE6;}
#copyProjectModal a.active:after {position: absolute; content: '\e92f'; font-family: ZentaoIcon; font-size: 20px; right: 25px;}
#copyProjectModal a.cancel {color: #ff5d5d;}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {margin-top: 1px;}

#lifeTimeTips {display: none;}
#teams_chosen .chosen-drop ul li .label {margin-top: 3px; background: #fff; color: #838a9d; border: 1px solid #d8d8d8;}

.chosen-container.chosen-highlight-selected .disabled-result.result-selected {background: none;}

.productsBox .row .col-sm-4 {padding-right: 13px;}
.plansBox .row {display: inline-table; width: 102%;}
.plansBox .row .col-sm-4 {display: inline-block; float: none; padding-right: 13px;}

#dateRange {vertical-align: top; padding-top: 13px;}
#dateRangeOption {vertical-align: top; padding-top: 13px;}
#beginLabel {white-space: nowrap;}
#endLabel {white-space: nowrap;}
#copyProjectModal .projectSelect {display: inline-block; margin-left: 10px; width: 20%;}
#copyProjectModal .titleBox{position: relative; bottom: 3px; display: inline-block;}
#copyProjectModal .projectSelect a.chosen-single > div > b {top: -4px !important;}

.productsBox a {border-radius: 2px !important;}
.productsBox .required:after {right: -9.5px !important;}
.productsBox .input-group-addon > div {display: inline-block !important;}
.productsBox .required + .text-danger.help-text {position: relative; left: 10px;}
.productsBox > #productNameLabel {padding-top: 8px;}
.productsBox div[id^='branch'].chosen-disabled {pointer-events: none;}
.methodTip icon:before {margin-bottom: 5px;}
