.panel-actions {display: flex; align-items: center;}
.panel-actions .primary-ghost {cursor: pointer;}

#copyExecutionModal .modal-dialog {max-height: unset;}
#copyExecutionModal .copy-title {min-width: 130px;}
#copyExecutionModal .pickerProject {flex: 0 1 30%;}
#copyExecutionModal .execution-block {flex: 0 1 30%; padding: 20px 10px; margin: 4px 12px; overflow: hidden;}
#copyExecutions div.bg-gray-100 {width: 100%;}
#copyExecutions .btn:hover {--tw-ring-color: var(--color-primary-500);}
#copyExecutions .btn:before {background: none;}
#copyExecutions .btn.primary-outline {background-color: var(--color-primary-50);}
#copyExecutions .btn.primary-outline:after {position: absolute; content: '\e92f'; font-family: ZentaoIcon; font-size: 20px; right: 25px;}
#copyExecutions .btn.primary-outline span{color: rgba(var(--color-fore-rgb),var(--tw-text-opacity));}
