.editPanel {max-width: 1200px !important;}
.items-center {align-items: center !important;}
#lifeTimeTips {padding-left: 1rem; align-items: center;}
.productsBox .line-btn {width: 48px; margin-right: 32px;}
