.chosen-container-single .chosen-single > span {max-width: 100%;}

#plansBox .row {display: inline-table; width: 102%;}
#plansBox .row .col-sm-4 {display: inline-block; float: none;}

.chosen-container.chosen-highlight-selected .disabled-result.result-selected {background: none;}

#mainContent .laneHeightBox .radio-inline+.radio-inline, #mainContent .importBox .radio-inline+.radio-inline {margin-left: 20px;}
#mainContent .laneHeightBox .tip {color: #999;}
