.chosen-container-single .chosen-single > span {max-width: 100%;}

#plansBox .row {display: inline-table; width: 102%;}
#plansBox .row .col-sm-4 {display: inline-block; float: none;}

.chosen-container.chosen-highlight-selected .disabled-result.result-selected {background: none;}

#dateRange {vertical-align: top; padding-top: 13px;}
.form-date {min-width: 90px;}

.productsBox div[id^='branch'].chosen-disabled {pointer-events: none;}

#dataform th.c-name, #dataform th.c-projectName, #dataform th.c-method {width: 120px;}
