#kanbanList .panel-body {padding: 10px!important;}
#kanbanList .kanban-header {min-height: 32px!important;}
#kanbanList .kanban-header-col {height: 32px!important; padding: 0!important;}
#kanbanList .kanban-header-col > .title {padding: 0 5px!important;}
#kanbanList .kanban-col[data-type="project"] .kanban-lane-items {height: 100%; display: flex; flex-direction: column; justify-content: center;}
#kanbanList .kanban-lane-name > .text {display: none;}
#kanbanList .kanban-item.link-block > a {cursor: move;}
#kanbanList .kanban-lane + .kanban-lane {margin-top: 2px!important;}

.kanban.kanban-dragging {overflow: hidden!important;}
