.main-table .table {cursor: default;}
.main-table tbody > tr > td {border-bottom: 2px solid #fff;}

.boards {display: table; table-layout: fixed; width: 100%; min-width: 140px;}
.board {display: table-cell; width: 25%; padding: 10px;}
.board > div {max-height: 230px; overflow: auto;}
.board:not(:last-child), .board-project {border-right: 2px solid #fff;}
.board-item {border: 1px solid #EBEBEB; padding: 5px 10px; cursor: default; border-radius: 2px; background-color: #fff;}
.board-item:hover {border-color: #ccc;}
.board-item + .board-item {margin-top: 10px;}

#kanban {overflow-y: auto;}
#kanban tbody > tr > td {line-height: 24px;}
#kanban thead > tr > th:not(:last-child) {border-right: 2px solid #efefef;}

.s-doing .table-row .table-col:last-child, .c-progress {width: 30px;}
.table-row .table-col:first-child {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.table-grouped > tbody > tr,
.table-grouped > tbody > tr:hover {background: #fff !important;}
