#main > .container {max-width: 1960px!important; padding: 0 10px}

.kanban + .kanban {margin-top: 15px}
.kanban-item > .title { display: block;white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
.kanban-item > .infos {position: relative; margin-top: 5px}
.kanban-item > .infos > .info + .info {margin-left: 10px}
.kanban-item > .infos > .info-id,
.kanban-item > .infos > .info-estimate {font-size: 12px; position: relative; top: 2px}
.kanban-item > .infos > .label-pri {min-width: 16px; line-height: 14px; height: 16px; padding: 0}
.kanban-item > .infos > .label-severity {transform: scale(.75)}
.kanban-item > .infos > .avatar {position: absolute; right: 0; top: 0}

.kanban-affixed .kanban-header-col > .title > .text,
.kanban-affixed .kanban-header-col > .title > .count {color: #fff!important;}

.dropdown-menu a {text-align: left;}
.panel{ position: unset }
.menu-actions { display: contents }
.scrollbar-hover {max-height: 2000px; overflow: scroll !important;}
