#mainContent tr > th{width: 66px;}
[lang^='en'] #mainContent tr > th, [lang^='de'] #mainContent tr > th, [lang^='fr'] #mainContent tr > th{width: 105px;}

#mainContent .table-form > tbody > tr > th {vertical-align: top; padding-right: 5px;}
#mainContent .radio-inline {display: block;}
#mainContent .radio-inline+.radio-inline {margin-left: 0px; padding-top: 8px;}
#mainContent label > .tip {color: #999;}
#mainContent #cardBox th {vertical-align: middle;}
#colWidth + .fixedTip, #maxColWidth + .autoTip {margin-left: 35px; color: #2667E3; padding-top: 1px;}
[lang^=en] #colWidth + .fixedTip, [lang^=en] #maxColWidth + .autoTip, [lang^=de] #colWidth + .fixedTip, [lang^=de] #maxColWidth + .autoTip, [lang^=fr] #colWidth + .fixedTip, [lang^=fr] #maxColWidth + .autoTip {margin-left: 50px;}
