.card-title { color: var(--color-black-rgb); }
.toolbar .btn-link{color: unset; text-decoration-line: unset;}
.toolbar .kanbanSetting.btn-link .caret{display: none;}
.dropdown-menu .menu-divider a{display:none;}
.as-subtitle {opacity: 0.5; text-wrap: nowrap; font-weight: 700;}
