body {margin-bottom: 10px;}
#heading .btn-group {display: inline-block !important;}
#mainMenu .btn-group {gap: 0px;}
.btn-group a.btn-primary {border-right: 1px solid rgba(255,255,255,0.2);}
.btn-group button.dropdown-toggle.btn-primary {padding:6px;}

#main {padding-bottom: 0;}
#heading {display: flex;}
#dtable .dtable-header, #executionTaskForm .dtable-rows {z-index: 4;}
.table-header.fixed-right > .btn-toolbar {right: 0; background-color: #f1f5f9;}

#dtable input[type=checkbox] {margin: 0px}

.table-footer {border-top: 1px solid #fff4ea; padding-left: 12px;}
.table-footer .pager{z-index: 10}
#dtable .scrollbar, .table-header.fixed-right {z-index: 11}

.dtable {--dtable-checked-bg: #fff4ea; --dtable-border-color: #f4f5f7}
.dtable-row {border-bottom-style: solid;}
.dtable-cell-html a{color: #2463c7}
.dtable-cell[data-sort='up']   .dtable-sort:before {color: #000; opacity: 1}
.dtable-cell[data-sort='down'] .dtable-sort:after  {color: #000; opacity: 1}
.dtable .toggle-icon {border-radius: 50%; border-style: solid;}
.dtable-nested-indent, .dtable-cell-html .icon-angle-double-right {display: none;}

.dtable-row.is-normal .dtable-cell[data-col="name"] {padding-left: 20px;}
.dtable-cell[data-col="actions"] > .dtable-cell-content .c-actions .dividing-line {width: 1px; height: 16px; display: inline-block; vertical-align: middle; background: #F4F5F7; margin: 0 4px 0 0;}

span.delayed {display: inline-block; height: 20px; line-height: 18px; background: #FFEBEB; color: #FB2B2B; border-radius: 20px; padding: 2px 8px; margin-left: -8px;}
