.c-id, .c-pri {width: 50px;}
.c-result {width: 80px;}
#pageNav #dropMenu .col-left {padding-bottom: 0px;}
#currentBranch + #dropMenu .col-left {padding-bottom: 30px;}
.status-blocked {left: -5px;}

.icon-ztf,.icon-test {color: #888fa1; font-size: 12px;}
