.block-burn .panel-body {margin-top: 20px;}
.data-stats .statsTr td {padding: 0px;}
.data-stats .statsTr td:first-child {width: 80px;}
[lang^=en] .data-stats .statsTr td:first-child, [lang^=fr] .data-stats .statsTr td:first-child, [lang^=de] .data-stats .statsTr td:first-child {width: 100px;}

#burnWrapper {max-width: 400px; margin: 0 auto; padding: 8px; position: relative;}
#burnYUnit {position: absolute; color: #CBD0DB; top: -10px; left: 10px;}
#burnLegend {position: absolute; right: 0; width: 150px; top: 0; margin-top: -20px; line-height: 20px; color: #838A9D; font-size: 12px;}
#burnLegend > div {position: relative; padding-left: 22px;}
#burnLegend > div:before {content: ' '; display: block; position: absolute; width: 20px; left: 0; top: 8px; height: 2px; background: #EEEEEE;}
#burnLegend > div.line-real:before {background: #006AF1;}
#burnLegend > div.line-delay:before {background: red;}

.block-dynamic .panel-body {height: 230px; overflow: auto; position: relative;}
.block-team div.col-xs-6 {white-space: nowrap; overflow: hidden;}

.timeline > li:before {left: -26px;}
.timeline > li + li:after {left: -23px;}
.timeline-text {margin-left: -18px;}
.block-dynamic .label-action {padding: 0 6px;}
.block-dynamic .label-action + a {padding-left: 6px;}
.timeline > li.active:before {left: -30px;}
.timeline > li > div:after {left: -27px;}
.timeline .timeline-text {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.timeline > li > div > .timeline-tag, .timeline > li > div > .timeline-text > .label-action {color: #838A9D;}
.timeline > li > div > .timeline-text > a {color: #313C52;}

#cfdChart {margin-top: -20px;}

#triggerModal .modal-dialog {top: 15% !important; max-height: 80%;}
#triggerModal .modal-dialog::-webkit-scrollbar-track {background-color: white;}
