body {margin-bottom: 0px !important;}
#main {min-width: unset; overflow-y: overlay; position: unset !important;}
#main > .container {width: 100% !important;}
#mainContent > .main-col {margin-top: 0px;}
#mainMenu, #sidebar, .dropdown, .table-footer > .table-actions, .table-footer>.table-statistic, .pager > li > .pager-size-menu {display: none;}
#xx-title {background-color: #F2F2F2; padding-left: 15px; line-height: 40px;}
.checkbox-primary, .table-footer .pager:before {display: none !important;}
.main-table a {pointer-events: none;}
.table-footer {position: fixed !important; width: 100% !important; bottom: 0; z-index: -10 !important; background:none !important;}
.table-footer .pager {background-color: #fff !important;}
.table-footer .pager li * {color: #838a9d !important;}
.table-responsive {margin-bottom: unset;}
.pager a {pointer-events: unset;}
.linkButton {float: right; padding-right: 10px; cursor: pointer;}
.linkButton i {font-size: 17px !important;}
.linkButton span {line-height: 40px; display: block;}
