#mainMenu {display: none;}
#sidebar {display: none;}
.table-footer>.table-statistic {display: none;}
.checkbox-primary {display: none !important;}
.c-sort, .c-category, .c-user, .c-estimate, .c-stage, .c-count, .c-actions-7, .c-actions {display: none;}
.dropdown {display: none;}
#xx-title {background-color: #F2F2F2; padding-left: 15px; line-height: 40px;}
body {margin-bottom: 0px !important;}
#main {min-width: unset;}
#main > .container {width: 100% !important;}
#mainContent > .main-col {margin-top: 0px;}
.pager > li > .pager-size-menu {display: none;}
.table-footer > .table-actions {display: none;}
.main-col .table-responsive {height: 420px; margin-bottom: 0px;}
#storyList > thead > tr > .c-status {display: table-cell !important;}
#storyList > thead > tr > .c-pri {display: table-cell !important;}
#storyList > tbody > tr > .c-status {display: table-cell !important;}
#storyList > tbody > tr > .c-pri {display: table-cell !important;}
.table-footer{position: fixed !important; width: 100% !important; bottom: 0; z-index: -10 !important; background:none !important;}
.table-footer .pager:before {display: none !important;}
.table-footer .pager {background-color: #fff !important;}
.table-footer .pager li *{color: #838a9d !important;}
.linkButton {float: right; padding-right: 10px; line-height: 34px;}
.main-table a {pointer-events: none; color: unset !important;}