.contentDiv { height:190px; overflow-y:auto; margin-bottom: 10px!important}
.contentDiv .panel-heading {line-height: 14px;}
.green {color:green}
input[type=checkbox].ml-10px{margin-left:7px;}
.pdl-8px{padding-left:8px;}

.checkbox-primary{display:inline-block;}
