.tab-pane .tab-actions {float: right; margin-top: -48px; z-index: 10; position: relative;}
.release-view-body .tabs-nav>.nav-item>a {color: var(--color-gray-900)}
#releaseInfo .extendBox > .panel-heading {padding-left: 0; font-size: 0.875rem;}
