.tabs{position:relative;}
.tabs .nav-tabs>li{margin-bottom:0px;}
.tabs .tab-content .tab-pane #queryBox{margin:0px; border-left:1px solid #ddd; border-right:1px solid #ddd;}
.tabs .tab-content .tab-pane #queryBox form{padding-left:0px;}

.checkbox.btn{margin-top:0px}
#unlinkStoryList, #unlinkBugList, #unlinkLeftBugList{border:1px solid #ddd;}

.table-footer .text{line-height:30px;}

#releaseInfo > div {padding-top: 15px;}

#queryBox form {margin: 0px !important;}
#moreOrLite {right: 0px !important;}
