.repoCode .panel {margin-bottom: 0;}
.left-content {border-right: 1px solid #EDEEF2; padding-top: 15px;}
.text {width: 85%; white-space: normal; word-wrap: break-word; word-break: break-all; font-weight: normal; padding-left: 10px;}
.cell {min-height: 300px;}
.menu-title {width: 100%;}
