.tagCommit {display:flex;justify-content: space-between;}
.tagCommit > .message{ width:240px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; margin-left: 10px; opacity:0.7;}
.tagCommit > .commit{ width:80px; }
