.adbox{margin-top:20px;}

.card.ad{margin-bottom:0px;}
.card.ad > .img-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  height: 115px;
  width: 100%;
}
.card.ad > .img-wrapper > img{display: none;}
.card.ad > .card-heading {text-align: center;}
.card.ad > .card-reveal > .card-heading { padding: 12px 10px 10px 15px;}
.card.ad > .card-reveal {color: #333;}
.card.ad > .card-reveal li{line-height:1.5}
