.modal-dialog{width:100%;}
.checkbox-primary{overflow:hidden;}
.pgmWidth{width:450px !important;}
#whitelistBox .checkbox-inline {display: inline-block !important; padding-left: 0px !important;}
#whitelistBox .checkbox-inline:first-child {margin-left: 10px !important;}
#budget {border-right:0px;}
