.container {margin: 0 auto;}

.modal-dialog {width: 100%;}
.checkbox-primary {overflow: hidden;}
.pgmWidth {width: 48% !important;}
#whitelistBox .checkbox-inline {display: inline-block !important; padding-left: 0px !important;}
#whitelistBox .checkbox-inline:first-child {margin-left: 10px !important;}
#budget {border-right: 0px;}
.divider {background: #f1f1f1 !important; width: 20px !important; padding: 1px !important;}
.gray {background: #f1f1f1 !important;}

.side-col {padding-right: 0px;}
div.divider {vertical-align: middle;}

.main-row {margin-top: 20px; padding: 20px; background: #f1f1f1;}
.main-row .side-col .nav li.active a {background: #006af1; color: #fff; border-radius: 4px;}
#source .lineGroup-body {padding: 10px;}
