#mainContent > .panel .panel-heading {padding: 24px 16px;}
#mainContent > .panel .panel-body {padding: 0px 16px 16px 16px;}
#mainContent > .panel .panel-body .move-extfile-tip {background-color: var(--color-secondary-50);}
#mainContent > .panel .panel-body .cell label[for='checkAll'] {font-size: 14px; font-weight: 600;}
#mainContent > .panel .panel-body .extfiles {height: 360px; overflow-y: auto; margin-top: 0px;}
