table {margin: auto;}
.modal-dialog {width: 1000px}
.panel-body   {padding: 40px 40px 20px 40px}
.panel-footer {padding-bottom: 20px;}
.checkbox, .radio {margin-top: 0px; margin-bottom: 20px;}
.tips {padding-top: 5px}
.btn-secondary {margin-right: 20px}
