.cell {overflow:auto !important}
.table-footer .pager:before,
.table-footer .pager,
.table-footer {background: none;}

.row a:hover {color: #3c4353;}

.screen {border-radius: 4px; border: solid 1px #ddd; position: relative;}
.screen .top {text-align: center; min-height:182px; position:relative;}
.screen .top.img {height: 182px; text-align: center;}
.screen .top.img img {height:100%; overflow: hidden; object-fit: cover; object-position: top;}
.screen .top.img.image_draft img {object-position: center;}
.screen .top .image {height:100%; display:flex; align-items:center; justify-content:center;}
.screen .top .image i {font-size:100px;}
.screen .top .image i:before {content: '\f1c5';}

.screen .bottom {padding: 12px 16px; height: 70px;}
.screen .bottom .screen-title{font-size: 14px; color: #0B0F18;overflow:hidden; white-space: nowrap;}
.screen .bottom .screen-title a{color: white;}
.screen .bottom div.screen-desc{margin: 0;font-size:12px; color: #838A9D; overflow: hidden;height:34px;}

.row a.btn-collect-screen {color: white; position: absolute; right: 10px; top: 117px; z-index: 1;}

.bg1 {background:#1183fb;}
.bg2 {background:#ea644a;}
.bg3 {background:#f1a325;}
.bg4 {background:#0bd6c0;}
.bg5 {background:#0997bb;}
.bg6 {background:#0abbad;}

.main-col {background-color: white;}
.main-col .row {margin:10px 0px; padding: 12px;}
.main-col .row .col-md-3 {padding: 8px;}
.main-col .row .col-md-3 a {min-width: 297px;}

#firstGuide .modal-dialog {width: 800px !important;}
#firstGuide .modal-body {padding: 0 !important; max-height: 465px !important;}
#firstGuide .background-img {height: 460px !important;}
#firstGuide .modal-footer {text-align: center !important; border-top: none !important; padding: 24px 0px !important;}
#firstGuide .btn-wide {min-width: 90px !important;}
#firstGuide .clickable-area {position: absolute; width: 50px; height: 20px; top: 235px; right: 117px;}
