.header {display:flex; justify-content:center; }
.img-header {width:1300px; height:120px; background-image:url("/static/images/screen_header.png"); background-repeat:no-repeat;}
.title {padding-top:39px; padding-left:525px; white-space:nowrap; color:#B2D5E5; font-family: "Helvetica Neue",Helvetica,Tahoma,Arial,'PingFang SC','Source Han Sans CN','Source Han Sans','Source Han Serif','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft YaHei',sans-serif; letter-spacing:5px;}
.time {position:absolute; right:10px; top:30px; color:#eee}

body {background:rgb(0,16,40);}
.content {display:flex; justify-content:center; margin-top: 20px;}
.burn {width: 1300px; display: flex; flex-wrap: wrap; justify-content: space-around; padding: 10px 0;}
.burn > .container {flex: 0 0 33%; margin-top: 40px; height: 370px; width: 370px; background-image:url("/static/images/burn_bg.png"); background-repeat:no-repeat; background-size: 100% 100%}
