.text-c-counts > span {margin-left: 5px;}
#mainMenu .pull-left {margin-right: 15px;}
.c-message {width: 350px;}
.c-file {width: 300px;}
.c-effort {width: 155px;}
.c-date {width: 130px;}
#keyword {width: 240px;}
