.text-c-counts > span {margin-left: 5px;}
#mainMenu .pull-left {margin-right: 15px;}
.c-message {width: 300px;}
.c-file {width: 270px;}
.c-effort {width: 155px;}
.c-date {width: 130px;}
.c-severity {width: 80px;}
#keyword {width: 240px;}
