.assignto-dialog {
    z-index: 20;
    display: flex;
}

.assignto-dialog .modal-dialog {
    width: auto;
}

.assignto-dialog textarea {
    width: 726px;
    height: 188px;
}

.assignto-dialog #mailto {
    width: 726px;
}

.assignto-dialog select,
.assignto-dialog .input-control.has-suffix {
    width: 205px;
    display: flex;
}
.assignto-dialog .input-control.has-suffix input.form-control {
    z-index: 1;
    padding-right: 6px;
}

.assignto-dialog .modal-header {
    gap: 10px;
}

.assignto-dialog .input-control-suffix {
    position: static;
    border-radius: 0px 2px 2px 0px;
    border: 1px solid #dcdcdc;
    border-left: 0;
}

.assignto-dialog .modal-title {
    font-size: 14px;
}

.assignto-dialog .modal-divider {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    height: 1px;
    background: #eee;
}

.assignto-dialog .modal-body {
    padding: 20px 40px;
}

.assignto-dialog button[type="submit"] {
    min-width: 120px;
}

.assignto-dialog .input-control-suffix {
    justify-content: center;
    width: auto;
    opacity: 1;
    background-color: #eee;
}
