.c-ip {width: 180px;}
.c-memory, .c-diskSize, .c-status, .c-cpu, .c-software, .c-instanceNum {width: 90px;}
.c-datetime {width: 150px;}
.status-wait {color: #f00;}
.c-actions {overflow: visible!important;}
#helpTab .icon-help {line-height: unset;}
#bysearchTab {margin-right: 0px;}
