.c-name,.c-status,.c-progress,.c-osName{width: 130px;}
.main-header-image{border:none;margin-left: 0!important;padding-left:0;}
.body-modal #mainContent{padding-top: 85px; padding-bottom: 50px;}
.dropdown-menu>li>a {margin: 1px 0;}
