#modalLink{color: #2e7fff;text-decoration: underline;}
.modal-dialog .modal-content{border: 2px solid #75e5c4; background-color: #f1fcf9; border-radius: 4px;}
.icon-check-circle{color: #17ce97; margin-right: 10px; font-size: 20px;}
.modal-dialog{width: fit-content;}
.modal-dialog{border-radius: 4px;}
.modal-header{padding:9px 15px 0px; margin:0px; border-bottom:0;}
.modal-dialog .modal-body{padding: 5px 15px 20px 15px;}
