#unit {padding: 0px !important; width:0px; border-left: 0px;width: 63px;}
.input-group-addon {border: 0px; width: 100px;}
#memory-addon{text-align: center;width: 63px;}
#initHostLink{color: #2e7fff;}
.modal-dialog .modal-content{border: 2px solid #75e5c4; background-color: #f1fcf9; border-radius: 4px;}
.icon-check-circle{color: #17ce97; margin-right: 10px; font-size: 20px;}
.modal-dialog{width: 384px;}
.modal-dialog{border-radius: 4px;}
.modal-header{padding:9px 18px 0px; margin:0px; border-bottom:0;}
.modal-dialog .modal-body{padding: 5px 5px 20px 15px;}
.modal-dialog .modal-body a{text-decoration: underline;}
