#unit {padding: 0px !important; width:0px; border-left: 0px;width: 63px;}
.input-group-addon {border: 0px; width: 100px;}
#unit_chosen a {border-left: 0px; border-radius: 0 2px;}
html[lang='en'] .table-form > tbody > tr > th {width: 120px;}
#memory-addon{text-align: center;width: 63px;}