.zahost-detail .text-right{text-align: right;}
.zahost-detail .col-8{padding-left: 10px;}
.zahost-detail .detail-content{color: #838a9d;}
.table.has-sort-head thead tr th a:after{line-height: 22px;}
.table.has-sort-head thead tr th a:before{line-height: 22px;}