.zahost-detail .text-right{text-align: right;}
.zahost-detail .col-7{padding-left: 10px;}
.table.has-sort-head thead tr th a:after{line-height: 22px;}
.table.has-sort-head thead tr th a:before{line-height: 22px;}
.c-cpu {width: 100px;}
.c-os {width: 200px;}
.c-memory, .c-diskSize, .c-status, .c-software, .c-instanceNum {width: 90px;}
.c-datetime {width: 150px;}
.c-actions {overflow: visible!important;}
.c-number {width: 120px;}
.status-wait {color: #f00;}
.zanode-mt-8{margin-top: 8px;}
.zahost-init{padding:15px;background: #f4f5f7;margin:10px 0;}
.fail{color:red;}
.dot-symbol{padding-right:10px;}
#statusContainer{margin:0px 0px 10px 0px;}
#serviceContent{overflow: hidden;}
.service-check{margin-top: 0px;}
.checkStatus{color: #313c52;}
.btn-info {background-color: unset;}
.icon-refresh {font-size: 15px;}
.load-indicator:after {top: 33%;}
.btn.disabled i {color: #fff;}
#statusContainer{min-height: 120px;}
