.article-h1 button {font-size: 13px; font-weight: normal;}
.zahost-init {background-color: var(--color-surface); padding: 15px; font-size: 14px; margin-top: 10px;}

.dot-symbol {padding-right: 10px;}
#statusContainer {margin-top: -10px;}
