#mainMenu{font-size:16px;padding:5px 0px;}
.panel{margin-bottom:0px; border:0px;}
.panel .panel-body{padding-bottom:5px;}
#translatingLangs .panel .panel-body{padding-right:0px;}
.panel .text-progress{color:#999;}
.panel p{padding-bottom:5px;}
.item .pull-right{color:#999;}
