.table-data tbody>tr>td{border:1px solid #cbd0db !important; padding-right:8px !important;}
.main-col .main-form .table-footer{padding-left: 7px; border: 1px solid #cbd0db; border-top: 0px;}
.main-col .main-form .table thead tr th .check-all{margin-left: -3px;}
