#suhosinInfo {margin-bottom: 0;}
.c-id {width: 40px;}
.c-estimate {width: 50px;}
.c-branch, .c-module {width: 120px;}
.c-title {width: 150px;}
.c-plan {width: 170px;}
.c-category {width: 90px;}
.c-pri {width: 70px;}
.c-source {width: 130px;}
.c-note, .c-stage, .c-reason {width: 100px;}
.c-keywords {width: 80px;}
.c-user {width: 115px;}
