#importLinesModal .modal-dialog {width: 80%;}

#batchCreateForm .c-id {width: 50px; text-align: center; color: #838A9D;}
#batchCreateForm .c-module,
#batchCreateForm .c-plan {width: 180px;}
#batchCreateForm .c-name {width: 180px;}
#batchCreateForm .c-pri {width: 100px;}
#batchCreateForm .c-review {width: 95px;}
#batchCreateForm .c-estimate {width: 90px;}
#batchCreateForm .c-verify {width: 140px;}
#batchCreateForm .c-keywords {width: 140px;}
.body-modal .main-header > h2 {max-width: 80%;}
#batchCreateForm .reviewBox{width: 200px !important;}

.table tbody>tr>td {vertical-align: top;}
