.linkbox{height:180px; overflow-y:auto}
.tab-pane .table-borderless {border: 1px solid #ddd!important}
.tab-pane .table-data.table-borderless {border: none!important}

.input-group .control-product + .chosen-container-single .chosen-single {border-radius: 2px 0 0 2px; border-right-width: 0; padding-right: 1px;}
.input-group .control-product + .chosen-container-active .chosen-single {border-right-width: 1px; padding-right: 0;}
.input-group .control-branch + .chosen-container-single .chosen-single {border-radius: 0 2px 2px 0;}
