#mailto {width:90.3%}
select {border:1px solid #ccc}
#module_chosen.chosen-container .chosen-drop {min-width: 400px; border-top: 1px solid #ddd!important}

.row .col-sm-8{width:76%}
.row .col-sm-2{padding-left:0px; padding-right:0px; width:12%}

#dataform .input-group-btn > .btn + .btn {margin-left: -1px;}
#dataform .input-group-addon > .checkbox-inline {padding-right: 10px;}
#dataform .input-group .chosen-container-single .chosen-single {border-top-right-radius: 0; border-bottom-right-radius: 0}
#title.form-control {border-top-right-radius: 0; border-bottom-right-radius: 0}

.dropdown-pris > .btn {background-color: #fff;}

.minw-80px {min-width: 80px;}
.minw-60px {min-width: 60px;}
.w-230px{width:230px;}

.colorpicker.input-group-btn > .btn {border-right: none}

#branch {border-left-width: 0px}
#mailtoGroup .chosen-container-single a {border-left-width: 0px}
