.input-group .URSBox{width: 100%; padding-right: 1px;}
.c-actions .btn-link{padding:0 5px;}
#uploadFiles .upload {width: 100%;}
.no-background .input-group-addon{background: none;}
#planIdBox, #moduleIdBox{width:100%;}
.titleBox .input-control-suffix {width: 2.5rem;}
