#product_chosen .chosen-single {border-right-width: 1px}
.linkStoryTitle {white-space: nowrap; text-overflow: ellipsis;}
.linkStoryTd > ul {margin-top: -10px;}
.titleBox {margin: 0px 10px 10px 10px;}
