.input-group #moduleIdBox{width:100%;}
.input-group #planIdBox{width:100%;}
.reviewerRow .reviewerBox{width:100%;}
.branchIdBox{width:120px;}
.reviewerRow .checkbox-primary{width:110px; padding-left:8px;}
.detail-side .table-data{width:100%;}
