.side-col .cell{padding:0px;}
.side-col #legendProjectAndTask .list-unstyled{padding:10px; border-top:0px; margin:0px;}
.col-4 .cell .tab-content .text-top{padding-top: 1px}
.main-actions .btn-toolbar .btn{padding-right: 6px; padding-left: 6px;}
