.side-col .cell{padding:0px;}
.side-col #legendProjectAndTask .list-unstyled{padding:10px; border-top:0px; margin:0px;}
.col-4 .cell .tab-content .text-top{padding-top: 1px}

#legendLifeTime .thWidth{width:100px !important;}
#legendRelated .thWidth{width:110px !important;}
html[lang^='zh-'] #legendLifeTime .thWidth{width:70px !important;}
html[lang^='zh-'] #legendRelated .thWidth{width:70px !important;}
