#repoList .tree li {padding: 0 0 0 10px;}
#repoList .hide-in-search .hidden {display: block !important; visibility: inherit !important;}
#dropMenuRepo > div.table-row > div > div > ul > li > div {padding-left: 20px;}
#repoList li > a.selected {color: #e9f2fb; background-color: #16a8f8; line-height: 20px; border-radius: 5px;}
#repoList .tree li.has-list.open:before {border-left: 0px;}
#repoList ul.tree-angles {margin-bottom: 0;}
#repoList {margin: 0;}
#repoList .tree > li {padding: 2px;}
