.mr-linkstory-title {background-color: #e6f0ff; color: #2e7fff; padding: 12px 6px 12px;}
#log .action-btn .caret {display: none; color: red}
.dropmenu-btn > .text {max-width: 280px;}

#monacoTabs .menu-item > a {justify-content: start;}

.status-merged, .status-can_be_merged {color: #0dbb7d;}
.status-cannot_be_merged {color: #ff6f42;}
.status-opened {color: #8166ee;}
