.active a {color:blue; font-weight:bold;}
.button-c {padding:1px 3px; border:1px solid gray; background:#e4e4ef; color:black; text-decoration:none}
.error    {color:red; font-size:14px}
.success  {color:green; font-size:14px}

.exttable td {padding:10px 0 0 10px}
.exttable caption{background:#efefef; border-color:#CCC9C9; margin-left:0}
.exttable {border-color:#CCC9C9; border-top:none;}
.exttable td{border-color:#CCC9C9}
