.active a {color:blue; font-weight:bold;}
.button-c {padding:2px 4px; border:1px solid gray; background:#efefef; color:black; text-decoration:none}
.error    {color:red; font-size:14px}
.success  {color:green; font-size:14px}
