#linkStoryBtn{display:none;}
#reportBtn{display:none;}
.dtable-footer .batchCnangePlanBtn{display:none;}
.dtable-footer .batchUnlinkStory{display:none;}
.dtable-footer .batchImportToLibBtn{display:none;}
.batchChangeStageBtn{display:none;}
