.btn-toolbar>.angle-btn:first-child {border-color: #0c64eb;}
.btn-toolbar>.angle-btn:first-child:after, .btn-toolbar>.angle-btn:first-child:before {border-color: transparent transparent transparent #0c64eb;}
.btn-toolbar>.angle-btn:first-child:after {border-color: transparent transparent transparent #fff;}
.btn-toolbar>.angle-btn:first-child .btn {color: #0c64eb;}

.btn-toolbar>.angle-btn:last-child {border-color: #000;}
.btn-toolbar>.angle-btn:last-child:after, .btn-toolbar>.angle-btn:last-child:before {border-color: transparent transparent transparent #000;}
.btn-toolbar>.angle-btn:last-child:after {border-color: transparent transparent transparent #fff;}
.btn-toolbar>.angle-btn:last-child .btn {color: #000;}
.btn-toolbar>.angle-btn+.angle-btn:last-child>.btn-group:first-child:after, .btn-toolbar>.angle-btn+.angle-btn:last-child>.btn-group:first-child:before {border-color: transparent transparent transparent #000;}
.btn-toolbar>.angle-btn+.angle-btn:last-child>.btn-group:first-child:after {border-color: transparent transparent transparent #fff;}
