.panel-form .headingActions {position: absolute; top: 0px; right: 40px;}
.copy-card:hover {border-color: rgba(var(--color-secondary-499-rgb),var(--tw-bg-opacity)); background-color: rgba(var(--color-gray-100-rgb),var(--tw-bg-opacity)); cursor: pointer;}
#copyKanbanModal .modal-body {margin-left: -8px; margin-right: -8px;}
#fixedColBox .items-center, #autoColBox .items-center {align-items: center !important;}
div.required {position: relative;}
div.required:after {content: '*'; color: rgba(var(--color-danger-500-rgb),var(--tw-text-opacity)); position: absolute; top: 0.5rem; right: -0.5rem;}
.panel-body .form-row > .form-group {--form-horz-label-width: 6.5rem;}

