#mainContent .table-form>tbody>tr>th {width: 105px;}
#mainContent {padding-left: 0px;}
#mainContent .laneHeightBox .radio-inline+.radio-inline, #mainContent .importBox .radio-inline+.radio-inline {margin-left: 20px;}
#mainContent .objectBox {padding-top: 2px;}
#mainContent .objectBox .checkbox-primary {display: inline-block;}
#mainContent .objectBox .checkbox-primary:not(:first-child) {margin-left: 10px;}
#mainContent .objectBox .checkbox-primary>label:not(:first-child) {padding-left: 20px;}
#mainContent .laneHeightBox .tip {color: #999;}
#mainContent .objectBox .checkbox-primary>label:before {top: 2px; left: 0px;}
#mainContent .objectBox .checkbox-primary>label:after {width: 14px; height: 14px;}
[lang^='en'] .columnWidth {width: 120px;}
[lang^='zh-cn'] .columnWidth {width: 80px;}
#team ~ #contactListMenu_chosen {vertical-align: top;}
#whitelist ~ #contactListMenu_chosen {vertical-align: bottom;}
#team ~ #contactListMenu_chosen > .chosen-drop {top: 32px;}
#whitelist ~ #contactListMenu_chosen > .chosen-drop {bottom: 32px;}
