.c-nameTitle {width: 66px;}
.c-WIPTitle {width: 80px; padding-left: 15px !important; padding-right: 0px !important;}
.c-color {width: 320px;}
.c-WIPCount {width: 240px;}
.c-WIPTitle {width: 85px;}
td.required:after {right: -1px;}
.c-action {width: 80px;}
.c-action > a {padding-top: 10px;}
