.as-subtitle {color: rgb(139, 145, 162); opacity: 0.5; text-wrap: nowrap}
#toolbar .btn-group .btn{border:none}
#kanbanActionMenu {color: #333; padding: 8px}
.cardcolor { width: 40px; height: 14px; float: left; margin-right: 5px; margin-top: 2px; border-radius: 2px; border: 1px solid rgb(176, 176, 176) }
.card-title { color: var(--color-black-rgb); }
.color-b10b0b > .card { background-color: #b10b0b !important; color: #fff !important }
.color-2a5f29 > .card { background-color: #2a5f29 !important; color: #fff !important }
.color-cfa227 > .card { background-color: #cfa227 !important; color: #fff !important }
.progress {height: 0.5rem !important}
