.main-table thead>tr:first-of-type>th {border-left: 1px solid #ddd;}
.main-table thead>tr>th {padding: 0px 8px; line-height: 24px;}
tbody.sortable > tr > td > span.sort-handler {color: #999;}
.icon-move {color: #16a8f8;}
.table.has-sort-head thead>tr>th>a:after, .table.has-sort-head thead>tr>th>a:before {top: -4px;}
.c-PO {width: 100px;}
.c-story {width: 300px;}
.c-bug {width: 150px;}
.c-plan, .c-release {width: 80px;}
.c-actions {width: 70px;}
#productList .c-manager {padding-left: 20px;}
#productList .c-manager a {top: 7px; left: 26px;}
.statistic {margin-left: 10px; color: #838a9d; float: left; position: relative; line-height: 28px;}
