.bugstatistic-block .progress-circle text {font-size: 35px;}
.bugstatistic-block .progress-circle .progress-text {position: relative; top: -45px; left: 45px;}
.bugstatistic-block .bg-secondary-pale {background: #F3F6FA;}
.bugstatistic-block .tab-pane .nav-tabs>.nav-item>a:after {border-bottom: none;}
