body {padding-bottom: 20px;}
.nav > li > .btn {padding: 0 5px; line-height: 24px; margin: 3px; color: #3C4353;}
.nav > li > .btn.btn-primary {color: #fff;}
.nav .icon-more {font-size: 14px;}
.block-statistic .nav-stacked {overflow: auto; max-height: 220px;}
#dashboard .col-side {width: 450px; max-width: 450px;}
#dashboard .panel-body {max-height: 400px; overflow: auto;}
#dashboard .panel-body.has-table {padding-top: 0;}
#dashboard .panel-move-handler {position: absolute; top: 0; left: 0; right: 50px; height: 40px; z-index: 10; cursor: move;}
#dashboard .panel-heading {cursor: move; padding-right: 75px;}
@media (min-width: 992px)
{
    #dashboard > .row {display: table; width: 100%; margin: 0;}
    #dashboard > .row > .col-main,
    #dashboard > .row > .col-side {display: table-cell; float: none; padding: 0; vertical-align: top;}
    #dashboard > .row > .col-main {padding-right: 10px }
    #dashboard > .row > .col-side {padding-left: 10px }
}
#dashboard.sortable-sorting .panel {margin-bottom: 10px; box-shadow: 0 1px 1px rgba(0,0,0,.075), 0 2px 6px 0 rgba(0,0,0,.075); height: 46px;}
#dashboard.sortable-sorting .panel > * {display: none;}
#dashboard.sortable-sorting .panel:before {display: block; content: attr(data-name); padding: 12px 20px; font-weight: bold; font-size: 14px; color: #3c4353; opacity: 1!important; text-align: left; visibility: visible;}
#dashboard.sortable-sorting .panel.dragging {visibility: visible; background: transparent; background: rgba(0,0,0,.075); box-shadow: inset 0 2px 6px rgba(0,0,0,.075);}
#dashboard.sortable-sorting .panel.dragging:before {color: #bbb;}
#dashboard.sortable-sorting .panel.drag-shadow {box-shadow: 0 1px 3px rgba(0,0,0,.175), 0 3px 8px 0 rgba(0,0,0,.175)}

#dashboard .block-sm .hide-in-sm {display: none;}
#dashboard .block-dynamic .panel-body{overflow-x:hidden;}
.modal-body{padding: 10px 20px 20px 20px;}
