body {background: #fafafa;}

.page-content {margin-top: -19px; border-top: 1px solid #3280fc;}

.dashboard {position: relative;}
.dashboard .row {margin: 0 auto;}
.dashboard .panel-actions {margin-top: 0; margin-right: 0;}
.dashboard .panel-heading {line-height: 17px; height: 30px; position: relative;}
.dashboard .panel-actions {position: absolute; top: 0; right: 0; height: 30px;}
.dashboard .panel-action {display: block; float: left; height: 30px; min-width: 26px; text-align: center; line-height: 30px; padding-left: 3px; padding-right: 3px;}
.dashboard .panel-actions > a {color: #666}
.dashboard .panel-action-more {font-size: 12px; font-weight: 200}
.dashboard .panel-action:hover, .dashboard .panel-actions > .dropdown > a:hover {color: #333; background-color: #ddd; background-color: rgba(0,0,0,0.1)}
.dashboard .panel-title {font-size: 13px; color: #333}
.dashboard a.panel-title > .icon-double-angle-right {position: relative; filter: alpha(opacity=0); opacity: 0; transition: opacity .2s, left .2s; left: -5px}
.dashboard .panel:hover a.panel-title > .icon-double-angle-right {filter: alpha(opacity=100); opacity: 1; left: 0}
.dashboard a.panel-title:hover {color: #1a53ff}
.dashboard .panel {box-shadow: 0 1px 3px rgba(0,0,0,.05); position: relative; overflow-x: hidden;}
.dashboard .panel.with-fixed-header {overflow-x: hidden;}
.dashboard .panel-heading + .panel-body {position: absolute; left: 0; top: 30px; right: 0; bottom: 0}
.dashboard .panel-dragging-shadow {position: absolute;}
.dashboard-empty-message {text-align: center; margin-top: 100px;}
.dashboard-empty-message > h5 {margin-bottom: 20px;}
.dashboard-actions {position: absolute; top:-20px; right:-10px;}
.dashboard-actions > a {display: inline-block; width: 40px; height: 20px; text-align: center; color: #999; border: 1px solid #999; line-height: 20px; background: #1a4f85; color: #fff}
.dashboard-actions > a:hover {background: #2e6dad; border-color: #2e6dad}

#wrap .outer {background-color: #fafafa;}
#wrap .outer > .dashboard {margin-left: -10px; margin-right: -10px;}

/* panel style */
.panel-block .table th {background-color: #fafafa}
.panel-primary {border-color: transparent;!important;}
.panel-success > .panel-heading,
.panel-warning > .panel-heading,
.panel-primary > .panel-heading,
.panel-info > .panel-heading,
.panel-danger > .panel-heading {color: #333; border: none; border-bottom: 1px solid rgba(0,0,0,.04);}
.panel-success, .panel-success .table-header-fixed th {background: #d1fecb!important; border-color: #b0e4ac!important}
.panel-success > .panel-heading {background: #c5f7c1!important; }
.panel-warning, .panel-warning .table-header-fixed th {background: #fdfdc7!important; border-color: #e1e09a!important}
.panel-warning > .panel-heading {background: #f8f7b6!important;}
.panel-primary, .panel-primary .table-header-fixed th {background: #d8f2fa!important; border-color: #badfeb!important}
.panel-primary > .panel-heading {background: #c9ecf8!important; color: #333!important; border:none!important;}
.panel-info, .panel-info .table-header-fixed th {background: #dcd8fe!important; border-color: #d0c9ee!important}
.panel-info > .panel-heading {background: #d4cdf3!important;}
.panel-danger, .panel-danger .table-header-fixed th {background: #f5d0f5!important; border-color: #e9b9e9!important}
.panel-danger > .panel-heading {background: #f1c3f1!important;}
.panel-success .table td, .panel-success .table th,
.panel-warning .table td, .panel-warning .table th,
.panel-primary .table td, .panel-primary .table th,
.panel-info .table td, .panel-info .table th,
.panel-danger .table td, .panel-danger .table th {border: none; background-color: transparent}
.panel-success .table tr:nth-child(even) > td, .panel-success .table th,
.panel-warning .table tr:nth-child(even) > td, .panel-warning .table th,
.panel-primary .table tr:nth-child(even) > td, .panel-primary .table th,
.panel-info .table tr:nth-child(even) > td, .panel-info .table th,
.panel-danger .table tr:nth-child(even) > td, .panel-danger .table th {background: rgba(255,255,255,.25);}
.panel-success .table tr:nth-child(odd) > td,
.panel-warning .table tr:nth-child(odd) > td,
.panel-primary .table tr:nth-child(odd) > td,
.panel-info .table tr:nth-child(odd) > td,
.panel-danger .table tr:nth-child(odd) > td {background: rgba(0,0,0,.03);}
.panel-success .table tr:last-child > td,
.panel-warning .table tr:last-child > td,
.panel-primary .table tr:last-child > td,
.panel-info .table tr:last-child > td
.panel-danger .table tr:last-child > td {border-bottom: 1px solid rgba(0,0,0,0.05)}
.panel-success .table tr:hover > th,
.panel-warning .table tr:hover > th,
.panel-primary .table tr:hover > th,
.panel-info .table tr:hover > th,
.panel-danger .table tr:hover > th {background: none;}
.panel-success .table.table-hover tr:hover > td,
.panel-warning .table.table-hover tr:hover > td,
.panel-primary .table.table-hover tr:hover > td,
.panel-info .table.table-hover tr:hover > td,
.panel-danger .table.table-hover tr:hover > td {background: rgba(255,255,255,.4);}

.block.input-group-btn .btn-success {background: #d1fecb; color: #333; text-shadow: none; border-color: #ccc}
.block.input-group-btn .btn-warning {background: #fdfdc7; color: #333; text-shadow: none; border-color: #ccc}
.block.input-group-btn .btn-info    {background: #dcd8fe; color: #333; text-shadow: none; border-color: #ccc}
.block.input-group-btn .btn-danger  {background: #f5d0f5; color: #333; text-shadow: none; border-color: #ccc}
.block.input-group-btn .btn-primary, .block.input-group-btn .btn-primary:focus {background: #d8f2fa; color: #333; text-shadow: none; border-color: #ccc}
.block.input-group-btn .btn-success:hover {border-color: #aaa}
.block.input-group-btn .btn-warning:hover {border-color: #aaa}
.block.input-group-btn .btn-primary:hover {border-color: #aaa}
.block.input-group-btn .btn-info:hover    {border-color: #aaa}
.block.input-group-btn .btn-danger:hover  {border-color: #aaa}
.block.input-group-btn .btn-primary .caret, .block.input-group-btn .btn-success .caret, .block.input-group-btn .btn-warning .caret, .block.input-group-btn .btn-danger .caret, .block.input-group-btn .btn-info .caret {border-top-color: #333}
