.docstatistic-block .flex {display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: space-around; flex: auto;}
.docstatistic-block .flex-column {flex-direction: column; padding-left: 10px;}
.docstatistic-block .statistic {flex: 0 1 32%;}
.docstatistic-block .created {flex: 0 1 48%;}
.docstatistic-block .edited {flex: 0 1 16%; padding-left: 0px;}
.docstatistic-block .border-right {border-right: 1px solid #eee; padding-right: 12%;}
.docstatistic-block .panel-body {padding-top: 0;}
.docstatistic-block .tile-amount {font-size: 30px; line-height: 30px;}
.docstatistic-block .tile-title {line-height: 20px; color: #313c52;}
.docstatistic-block .tile {text-align: center;}

.docstatistic-block.block-sm .flex {justify-content: start;}
.docstatistic-block.block-sm .panel-body.flex {flex-direction: column;}
.docstatistic-block.block-sm .border-right {border-right: none;}
.docstatistic-block.block-sm .statistic .flex {margin-top: -28px;}
.docstatistic-block.block-sm .tile {padding: 10px 32px 20px;}
.docstatistic-block.block-sm .panel-body {margin-top: 0px; padding: 10px;}
.docstatistic-block.block-sm .flex-column .flex .tile:nth-child(1) {padding-left: 0;}
.docstatistic-block.block-sm .edited {padding-left: 10px;}
.docstatistic-block.block-sm .flex-column {border-bottom: 1px solid #eee;}
.docstatistic-block.block-sm .flex-column:last-child {border-bottom: none;}
