.executionstatistic-block {background: #FCFDFE;}
.executionstatistic-block .panel-body {padding: 0;}

.executionstatistic-block .tab-content {width: 100%;}
.executionstatistic-block .tab-pane {padding: 0;}
.executionstatistic-block .bg-secondary-pale {background: #F3F6FA;}
.executionstatistic-block .chart {margin: auto;}
.executionstatistic-block .story-num {margin: auto;}

.executionstatistic-block.block-sm .nav-tabs .nav-item.active {display: flex!important;}
.executionstatistic-block.block-sm .nav-tabs .nav-item > a {width: 100%;}
.executionstatistic-block.block-sm .nav-tabs .nav-item {display: none}
.executionstatistic-block.block-sm .nav-tabs .nav-item.nav-prev {display: flex}
.executionstatistic-block.block-sm .nav-tabs .nav-item.nav-prev > a {padding: 0;}
.executionstatistic-block.block-sm .nav-tabs .nav-item.nav-next {display: flex}
.executionstatistic-block.block-sm .nav-tabs .nav-item.nav-next > a {padding: 0;}

.executionstatistic-block .chart > div {margin: auto;}
.executionstatistic-block .pie-chart {position: relative;}
.executionstatistic-block .pie-chart .pie-chart-title {position: absolute; top: 50%; left: 50%; margin-top: -25px; margin-left: -30px}
