.guide-block .panel-body {padding: 0}

.guide-block .tab-content {width: 100%;}
.guide-block .tab-pane {padding: 0;}
.guide-block .bg-secondary-pale {background: #F3F6FA;}
.guide-block .mode-switch img {height: 180px; margin: auto; object-fit: cover;}
.guide-block .vision-switch img {height: 180px; margin: auto; object-fit: cover;}

.guide-block .flowchart .flow-chart-row {display: flex; gap: 5px; margin-bottom: 9px; width: 100%;}
.guide-block .flowchart .flow-item {background: url('static/svg/arrow-blue.svg') center no-repeat; background-size: cover; text-align: center; margin: 0; padding-right: 15px; flex:0 1 15%; position: relative; padding: 5px 0 5px 12px; white-space:nowrap; overflow: hidden; color: #3c4353; display: flex; align-items: center; text-align: center; padding-right: 10px;}
.guide-block .flowchart .ie-8 .flow-item > div:before {display: none;}
.guide-block .flowchart .flow-item > div:before {border-left-color: #fff; z-index: 1;}
.guide-block .flowchart .flow-item > div > div {display: flow-root; overflow: hidden;}.ie-8 .flow-item > div {margin-right: 10px}.flow-item-0 > div {color: #FFF; font-weight: 400;}
.guide-block .flowchart .flow-item-0 > div:before {display: none;}
.guide-block .flowchart {.flow-item-1, .flow-item-2, .flow-item-3, .flow-item-4, .flow-item-5 {background-image: url('static/svg/arrow-white.svg');}}
.guide-block .flowchart .flow-item-display {overflow: hidden; white-space:nowrap; text-overflow: clip; font-size: 12px;}

.guide-block .theme-switch div.theme-default    {color: #3785ff;}
.guide-block .theme-switch div.theme-blue       {color: #2b80ff;}
.guide-block .theme-switch div.theme-green      {color: #248f83;}
.guide-block .theme-switch div.theme-red        {color: #f34a5a;}
.guide-block .theme-switch div.theme-pink       {color: #f7889c;}
.guide-block .theme-switch div.theme-blackberry {color: #304269;}
.guide-block .theme-switch div.theme-classic    {color: #114f8e;}
.guide-block .theme-switch div.theme-purple     {color: #9958dc;}
.guide-block .theme-switch .block.active i.icon-check-circle  {display: inline!important;}
.guide-block .theme-switch img {height: 120px; margin: auto; object-fit: cover;}

.guide-block .download-client .avatar > img {object-fit: revert;}

.guide-block .block {background: rgba(230, 240, 255, 0.4);}
.guide-block .block:hover {box-shadow: 0 0 14px rgba(0, 0, 0, 0.12);}
.guide-block .block.active {box-shadow: 0 0 0 2px #2E7FFF; border-radius: 2px;}

.picker-menu-list .menu-item>a.active, .picker-menu-list .menu-item>a.hover, .picker-menu-list .menu-item>a:hover{background: unset}
.picker-menu-list .menu-item>a.active .preference-box{background: var(--menu-active-bg); color: var(--menu-active-color)}
.picker-menu-list .menu-item>a:hover .preference-box, .picker-menu-list .menu-item>a.hover .preference-box{background: var(--menu-active-bg); color: var(--menu-active-color); box-shadow: 0px 0px 1px 1px #2E7FFF;}
.picker-menu-list .menu-item>a.active .preference-box .label, .picker-menu-list .menu-item>a:hover .preference-box .label, .picker-menu-list .menu-item>a.hover .preference-box .label{background: var(--menu-active-bg); color: var(--menu-active-color);}
.ursr-menu > li{width: 50%;}
