.productstatistic-block {background: #FCFDFE; height: 256px;}
.productstatistic-block.block-sm {height: auto;}

.productstatistic-block .tab-content {width: 100%;}
.productstatistic-block .tab-pane {padding: 0;}
.productstatistic-block .bg-secondary-pale {background: #F3F6FA;}
.productstatistic-block .chart {margin: auto;}
.productstatistic-block .story-num {margin: auto;}

.productstatistic-block.block-long .nav-tabs .nav-item {height:36px; line-height: 36px;}
.productstatistic-block.block-long .nav-tabs .nav-item:hover {border-left: 2px solid #2E7FFF; background-color: #FCFDFE;}
.productstatistic-block.block-long .nav-tabs .nav-item.active {border-left: 2px solid #2E7FFF; background-color: #FCFDFE;}
.productstatistic-block.block-long .nav-tabs .nav-item > a {color: #5E626D;}
.productstatistic-block.block-long .nav-tabs .nav-item > a:before {background: transparent;}
.productstatistic-block.block-long .nav-tabs .nav-item.active > a {color: #0B0F18;}
.productstatistic-block.block-long .nav-tabs .nav-item:hover > a {color: #0B0F18;}
.productstatistic-block.block-long .nav-tabs .nav-item:hover > a.link {display: flex!important;}
.productstatistic-block.block-long .nav-tabs .nav-item.nav-prev {display: none}
.productstatistic-block.block-long .nav-tabs .nav-item.nav-next {display: none}

.productstatistic-block.block-sm .nav-tabs .nav-item.active {display: flex!important;}
.productstatistic-block.block-sm .nav-tabs .nav-item > a {width: 100%;}
.productstatistic-block.block-sm .nav-tabs .nav-item {display: none}
.productstatistic-block.block-sm .nav-tabs .nav-item.nav-prev {display: flex}
.productstatistic-block.block-sm .nav-tabs .nav-item.nav-prev > a {padding: 0;}
.productstatistic-block.block-sm .nav-tabs .nav-item.nav-next {display: flex}
.productstatistic-block.block-sm .nav-tabs .nav-item.nav-next > a {padding: 0;}
