.projectstatistic-block .panel-body {padding: 0;}
.projectstatistic-block .tab-content {width: 78%;}
.projectstatistic-block.block-sm .tab-content {width: 100%;}

.projectstatistic-block .project-statistic-table table {width: 100%; border-collapse: separate; border-spacing: 0 0.5rem; padding-right: 1rem;}
.projectstatistic-block .project-statistic-table table th {padding-right: 0px; margin-top: 1rem; font-size: 12px;}
.projectstatistic-block .project-statistic-table table td {padding-left: 0px; margin-top: 1rem;}
.projectstatistic-block .tab-pane .nav-tabs>.nav-item>a:after {border-bottom: none;}
.projectstatistic-block .scrum table th, .projectstatistic-block .scrum table td {width: 50%}
.projectstatistic-block .waterfall table th {width: 100px;}
.projectstatistic-block .table-data {overflow: hidden;}
.projectstatistic-block .table-data td {white-space: nowrap;}
.projectstatistic-block .progress-circle text {font-size: 35px;}
.projectstatistic-block .progress-circle .progress-text {position: relative;}
.projectstatistic-block.block-long .progress-circle .progress-text {top: -57px;}
.projectstatistic-block.block-sm .project-statistic-table table {padding-right: 0.75rem;}
.projectstatistic-block.block-sm .progress-circle .progress-text {top: -47px;}
