.qastatistic-block {background: #FCFDFE; height: 256px;}
.qastatistic-block .panel-body {padding: 0;}
.qastatistic-block.block-sm {height: auto;}

.qastatistic-block .tab-content {width: 100%;}
.qastatistic-block .tab-pane {padding: 0;}
.qastatistic-block .bg-secondary-pale {background: #F3F6FA;}
.qastatistic-block .chart {margin: auto;}
.qastatistic-block .story-num {margin: auto;}

.qastatistic-block.block-sm .nav-tabs .nav-item.active {display: flex!important;}
.qastatistic-block.block-sm .nav-tabs .nav-item > a {width: 100%;}
.qastatistic-block.block-sm .nav-tabs .nav-item {display: none}
.qastatistic-block.block-sm .nav-tabs .nav-item.nav-prev {display: flex}
.qastatistic-block.block-sm .nav-tabs .nav-item.nav-prev > a {padding: 0;}
.qastatistic-block.block-sm .nav-tabs .nav-item.nav-next {display: flex}
.qastatistic-block.block-sm .nav-tabs .nav-item.nav-next > a {padding: 0;}
