.singleproductstatistic-block {background: #FCFDFE;}
.singleproductstatistic-block .panel-body {padding: 0;}

.singleproductstatistic-block .tab-content {width: 100%;}
.singleproductstatistic-block .tab-pane {padding: 0;}
.singleproductstatistic-block .bg-secondary-pale {background: #F3F6FA;}
.singleproductstatistic-block .chart {margin: auto;}
.singleproductstatistic-block .story-num {margin: auto;}

.singleproductstatistic-block .chart > div {margin: auto;}
.singleproductstatistic-block .pie-chart {position: relative;}
.singleproductstatistic-block .pie-chart .pie-chart-title {position: relative; top: -85px;}
