.teamachievement-block .item-row {min-height: 88px;}
.teamachievement-block .item-row .item-icon {background-size: 100%; position: relative; top: 10px; left: -38px;}
.teamachievement-block .item-row .item-task .item-icon {background: url(static/svg/block-task.svg) center no-repeat;}
.teamachievement-block .item-row .item-bug .item-icon {background: url(static/svg/block-bug.svg) center no-repeat;}
.teamachievement-block .item-row .item-hour .item-icon {background: url(static/svg/block-hour.svg) center no-repeat;}
.teamachievement-block .item-row .item-story .item-icon {background: url(static/svg/block-story.svg) center no-repeat;}
.teamachievement-block .item-row .item-case .item-icon {background: url(static/svg/block-case.svg) center no-repeat;}
.teamachievement-block .item-row .item-workload .item-icon {background: url(static/svg/block-workload.svg) center no-repeat;}
