.welcome-block {background-image: linear-gradient( 90deg, #EDF7FE 0%, #FFF 20%);}
.border-right {position: relative;}
.border-right::after {content: ''; position: absolute; right: 0px; width: 1px; height: 40px; background: #EEE; top: 50%; margin-top: -20px;}
