.welcome-block {background-image: linear-gradient( 90deg, #EDF7FE 0%, #FFF 20%);}
.border-right {position: relative;}
.border-right::after {content: ''; position: absolute; right: 0px; width: 1px; height: 40px; background: #EEE; top: 50%; margin-top: -20px;}
.avatar-border-one {width: 4.2rem; height: 4.2rem; background: #f4f5f3; position: relative;}
.avatar-border-two {width: 3.6rem; height: 3.6rem; background: #F5EBDE; position: absolute;}
.welcome-avatar {border: 2px solid #FBC962; position: absolute; border-radius: 50% 50%;}
.tile-amount {font-size: 32px; font-weight: 700; line-height: 56px;}
.welcome-label-delay {background: var(--color-danger-50); color: var(--color-danger-600);}
