.user{display:block; width:80px; float:left; overflow:hidden}
.icon-green-group-managepriv   {padding:2px 8px; background:url(theme/default/images/main/zt-icons.png) -60px -460px;}
.icon-green-group-managemember {padding:2px 8px; background:url(theme/default/images/main/zt-icons.png) -40px -460px;}
