.mt-m {margin-top: 16px;}
.flex-center {display: flex; justify-content: center; align-items: center;}
#mainContent {display: flex; gap: 16px; height: calc(100vh - 120px);}
#mainContent > .main {flex: 1 1 75%; overflow-y: auto; min-height: 480px;}
#mainContent > .side {flex: 1 1 25%;}
.priv-panel {background: #fff; padding: 10px; box-shadow: 0 1px 1px rgb(0 0 0 / 5%), 0 2px 6px 0 rgb(0 0 0 / 5%);}
.priv-panel > .panel-content {height: calc(50vh - 160px); overflow-y: auto; min-height: 140px;}
.priv-panel > .panel-bottom {padding-top: 20px;}

/* tree */
.tree ul > li {display: inline-block; width: 50%;}
.priv-item > .icon {padding-left: 5px;}
.empty-tip {height: 100%;}

.table-bymodule select.form-control {height: 250px;}
.group-item {display: block; width: 220px; float: left; font-size: 14px;}
.group-item .checkbox-inline label {padding-left: 8px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.table.table-form tbody > tr:last-child td {border-top: 1px solid #ddd;}
@-moz-document url-prefix() {.table.table-form tbody > tr:last-child td, .table.table-form tbody > tr:last-child th {border-bottom: 1px solid #ddd;};}

#mainMenu #groupName {line-height: 33px; float: left;}
.checkbox-right {padding-left: 0px !important;}

td.menus {border-right: 0; padding-right: 0; width: 220px !important;}
td.menus + td {border-left: 0;}
.menus .checkbox-primary {float: left; width: 220px;}
.menus .checkbox-primary:first-child {float: left; width: auto;}
.menus a {margin-left: 10px;}

#privList th.module {width: 142px; background-color: #E6EAF1; font-weight: 600;}
#privList th.package {width: 142px; background-color: #EDEEF2; font-weight: 600;}
#privList th.method {min-width: 685px;}
#privList th.module > .check-all, #privList th.package > .check-all {font-weight: 600;}
#privList th .checkbox-inline input {margin-left: 0px;}
#privList .check-all {display: inline-block;}
#privList .check-all > label {padding-left: 0;}
#privList .text-middle.text-left {padding-left: 24px;}
#privList tbody > tr > td {padding: 4px 20px 20px 20px;}
#privList .group-item {margin-top: 16px;}
#privList .group-item .checkbox-inline label {padding-left: 3px;}
#privList.table-bordered td, #privList.table-bordered th {border-top-style: dashed; border-bottom-style: dashed;}
#privList .check-all>label.checkbox-indeterminate-block:before {content: ' '; opacity: 1; transform: scale(1);}
