.group-item {display:block; width:100px; float:left;margin-bottom:5px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.table th {vertical-align: top;}
.table-form>tbody>tr>th{width:120px !important;}
