.nowrap, .whitespace-nowrap {font-size: 1.2rem;}
.check-list {display: contents;}
.gift-package-group-solvedProblems {margin-left: -26px; margin-top: -10px;}
.gift-package-group-solvedProblems label {display: block; width: 100%; margin-left: 1.8rem;}
.gift-package-position {margin-left: -17px;}
.gift-package-nickname label {margin-left: -16px;}
.gift-package-company label {margin-left: -28px;}
.gift-package-nickname input {margin-left: -16px;}
.gift-package-company input {margin-left: -16px;}
.gift-package-question {margin-left: 1px; margin-top: 5px;}