body {--zt-page-bg: var(--color-canvas)}
body > .modal-dialog {box-shadow: none!important; width: auto!important}
body > .modal-dialog > .modal-content > .modal-body > .detail-body {height: auto}
.modal-content, .modal-dialog {height: auto!important; max-height: none!important}
.modal-body {overflow: visible!important;}
.modal {overflow: auto!important;}
