a,.tree a,#modulemenu li a {color: #195d00}
a:hover,.tree a:hover{color: #268f00}
#header,#topbar select {background:#195d00}
#modulemenu li{color: #444;}
#modulemenu li.active>a,#modulemenu li.active>a:hover{color: #444}
#mainmenu li>a {background:#227c00}
#mainmenu li>a:hover {background:#268f00}
#mainmenu li.active>a,#mainmenu li.active>a:hover{background-color: #e5e5e5;color: #444}
#topbar select{background:#195d00}
caption,#featurebar,.outer>table.table-1>caption{background-color: #f0f8f0}
.link-button a,.link-icon{color: #195d00}
select:focus,textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,
input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus {border-color: #195d00;outline: 0;}