.doc-title .file-icon {width: 14px;}
.doc-title .ajaxCollect {position: absolute; right: 0; padding: 4px; background: #fff; top: 6px;}
.doc-title .ajaxCollect > img {width: 16px;}

.sidebar .module-menu + .module-menu {border-top-width: 1px;}
