.m-doc-create .doc-menu-header.is-fixed {position: relative; top: auto; width: calc(100% - 10px); margin-bottom: 12px;}
.m-doc-create .doc-menu {max-height: calc(100vh - 115px);}
.m-doc-create #pick-docDropmenuMenu {position: relative; top: auto; margin-bottom: 12px; background: var(--color-canvas);}
.modal-content, .modal-dialog { max-height: none !important; }
