.modal-dialog {width: 75%;}
form {margin-bottom: 50px;}
#mainContent table th {width: 70px;}

#whiteListBox div.input-group {margin-bottom: 2px;}

#groups_chosen.chosen-container .chosen-results, #users_chosen.chosen-container .chosen-results {max-height: 160px;}
#aclBox > th {vertical-align: top; padding-top: 17px;}
tr.executionBox > td {display: flex; width: 103%;}
tr.executionBox > td > .icon-help {margin: 8px 0 0 5px;}
