.modal-dialog {width: 75%;}
form {margin-bottom: 50px;}
table {width: 90% !important;}
#mainContent table th {width: 70px;}

#aclBox .acl-tip {color: #838a9d;}
#whiteListBox div.input-group {margin-bottom: 2px;}

#product_chosen {width: 50% !important;}
#execution_chosen {width: 50% !important;}

#groups_chosen.chosen-container .chosen-results, #users_chosen.chosen-container .chosen-results {max-height: 160px;}
.objectBox > td.required:after {right: 180px;}
