.m-doc-edit .doc-menu-header.is-fixed {position: relative; top: auto; width: calc(100% - 10px); margin-bottom: 12px;}
.m-doc-edit .doc-menu {max-height: calc(100vh - 115px);}
.m-doc-edit #pick-docDropmenuMenu {position: relative; top: auto; margin-bottom: 12px; background: var(--color-canvas);}

.doc-menu [data-type="mine"] + menu {max-height: calc(100vh - 239px); margin-right: -4px; margin-top: -4px}
.doc-menu [data-type="mine"] + menu::-webkit-scrollbar,
.doc-menu [data-type="mine"] + menu::-webkit-scrollbar-thumb,
.doc-menu [data-type="mine"] + menu::-webkit-scrollbar-track {visibility: hidden;}
.doc-menu [data-type="mine"] + menu:hover::-webkit-scrollbar,
.doc-menu [data-type="mine"] + menu:hover::-webkit-scrollbar-thumb,
.doc-menu [data-type="mine"] + menu:hover::-webkit-scrollbar-track {visibility: visible;}
