form {margin-right: 30px;}

.chosen-container .chosen-results {max-height: 180px;}

#whiteListBox div.input-group {margin-bottom: 2px;}
#whiteListBox .input-group:last-child{margin-top:10px}
#whiteListBox .input-group:last-child .input-group-addon{padding:5px 16px}
