#mainContent .doclib-name {font-size: 13px; font-weight: 550; padding: 10px 0px;}
#mainContent #libs {padding-bottom: 10px;}
#mainContent #libs .lib {padding-bottom: 5px;}
#mainContent #libs .lib  .lib-name{cursor: pointer;}
#mainContent #libs .lib  .icon-move {padding-left: 4px; font-size:13px; vertical-align: text-top; cursor: pointer;}
