.mini-program {
    top: 66px;
    right: 16px;
    bottom: 16px;
    left: 16px;
    gap: 16px;
}

.mini-program .detail {
    width: 390px;
    background: #fff;
}

.mini-program .detail .header {
    padding: 24px 20px 20px 20px;
    gap: 20px;
    color: var(--color-slate-800);
    border-bottom: 1px solid var(--color-gray-200);
}

.mini-program .detail .header .btn-star {
    top: 20px;
    right: 20px;
}

.mini-program .detail .header .program-avatar {
    width: 46px;
    height: 46px;
}

.mini-program .detail .header .content .title {
    font-size: 14px;
    font-weight: 500;
    padding-right: 64px;
}

.mini-program .detail .header .content .desc {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.mini-program .detail .body {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.mini-program .detail .body .language-model .btn {
    color: var(--color-slate-700);
}

.mini-program .detail .body .language-model .btn:hover {
    background: var(--color-gray-300);
}

.mini-program .detail .footer {
    padding: 20px 20px 24px 20px;
}

.mini-program .chat {
    height: 100%;
    flex-basis: 67%;
    background: #fff;
}

.mini-program .chat .chat-tip {
    gap: 8px;
    font-size: 14px;
    color: var(--color-slate-600);
}

.message-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    overflow-y: auto;
}

.message {
    display: flex;
    align-items: flex-start;
    gap: 18px;
}

.message-time {
    font-size: 12px;
    font-weight: 400;
    color: #838A9D;
    line-height: 18px;
    margin-bottom: 6px;
}

.message-avatar {
    width: 24px !important;
    height: 24px !important;
    border-radius: 50%;
    overflow: hidden;
}

.message-content {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #313C52;
    padding: 10px;
    word-break: break-all;
}

.ai-message-content {
    background: #ECF4FF;
}

.user-message-content {
    background: #F8F8F8;
}

.chat-input-box {
    border: none;
    outline: none !important;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    resize: none;
    overflow: hidden;
    margin-left: 12px;
}

.input-container {
    margin: 0 20px 24px 20px;
    border: 1px solid;
    border-image: linear-gradient(225.97deg, #FF2070 -9.2%, #9670FF 43.41%, #258DFF 74%) 1;
    display: flex;
    align-items: center;
    padding: 13px 1px 13px 16px;
}

.chat-nomodel p {
    color: var(--color-slate-600);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.chat-nomodel p + p {
    margin-top: 10px;
}

.chat-nomodel a {
    cursor: pointer;
}

.local-notification {
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: #4089F7;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.local-notification::before,
.local-notification::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #4089F7;
}

.local-notification span {
    padding: 0 10px;
}

.server-notification {
    padding-left: 48px;
    font-size: 13px;
    font-weight: 400;
    color: var(--color-gray-500);
}

#disabled-dialog .modal-dialog {
    width: 480px;
}

#disabled-dialog .modal-body {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

#disabled-dialog .modal-footer {
    padding-top: 0;
    padding-bottom: 32px;
    justify-content: center;
}

.chat {
    overflow: hidden;
}
