.main-table td {padding-left: 16px;}
#import-miniprogram .modal-dialog {padding: 10px 20px 10px 20px; position: relative;}
#import-miniprogram .modal-dialog .modal-header {border: none!important; padding-bottom: 0;}
.close-import-dialog {position: absolute; right: 20px; top: 20px;}
