.content-row {display: flex; flex-direction: row; padding: 8px 0px;}
.input-label {width: 120px; flex-shrink: 0; padding: 6px 12px; text-align: right;}
.input {flex-grow: 1;}
.main-header {border-bottom-color: #E6EAF1;}
