.ops-actions {margin: auto; margin-left: 10px; cursor: pointer;}
#lang {flex-direction: row;}
#opsForm .form-row:last-child {width: 50%;}
.ops-header .form-label {font-weight: 700!important;}
.osOpsList>a {display: block; padding: 2px 10px 2px 5px; overflow: hidden; line-height: 20px; text-overflow: unset; white-space: nowrap; border-radius: 4px; color: #313c52;     margin-top: 5px;}
.osOpsList>a.active {color: #2e7fff; background-color: #e6f0ff;}
.osOpsList>a.active:hover, .osOpsList>a:hover {color: #fff; background-color: #2e7fff;}
.ops-ml-0 {margin-left: 0!important;}

#mainNavbar>.container {padding-top: 8px}
#mainNavbar .nav {justify-content: left; position: relative; left: 0px; top: -4px;}
@media (min-width: 1400px){#mainNavbar .nav {left: -12px;}}
#mainNavbar {background: none;}
#mainNavbar .nav-item>a {padding-right: 0.5rem}
#mainNavbar .nav-item>.active {color: unset; font-weight: 700;}
#mainNavbar .nav-item>a.active:after {position: absolute; content: ''; border-bottom: 2px solid #2e7fff; inset: 0 6px 0 15px;}
.panel-form{max-width: inherit;}