body{padding-bottom:0px;}
body.has-fixed-footer{padding-bottom:20px;}
#header{padding-top:0px;}
#header #heading{display:none !important;}
#header #navbar{text-align:left !important;}
#header #navbar ul.nav{padding-left:10px !important;}
.datatable .scroll-wrapper .scroll-slide {bottom:-45px !important;}
.table-footer.fixed-footer{bottom:0px !important;}
#footer{display:none;}

#pageNav{position: unset;float: left;margin-top: 10px;}
#subNavbar{text-align:left;}
#subNavbar ul.nav{margin-left:10px;}

#header #mainHeader #navbar li[data-id='oa']{display:none;}
#subNavbar li[data-id='review']{display:none;}
#mainActions .btn-toolbar{top:-50px;}
