body{padding-bottom:0px;}
#header{padding-top:0px;}
#mainmenu{margin-top:0px;margin-left:-20px;}
#mainmenu .nav li a{height:40px; line-height:25px;}
#mainmenu .nav > li > a{margin-right:0px;}
#searchbox{top:8px;right:50px}
#topnav{position: absolute; top:6px;right: -35px}
#topnav > a {display:none;}
#topnav > .dropdown{display:none;}
#topnav > a:first-of-type {display:block;}
#topnav > #userMenu{display:block;}
#footer{display:none;}
