body{padding-bottom:0px;}
#header{padding-top:0px;}
#header #heading{display:none !important;}
#header #navbar{text-align:left !important;}
#main{padding-bottom: 45px;}
.datatable .scroll-wrapper .scroll-slide {bottom:-55px;}
.table-footer.fixed-footer{bottom:0px !important;}
#footer{display:none;}

#header #mainHeader #navbar li[data-id='oa']{display:none;}
#subNavbar li[data-id='review']{display:none;}
