/* @group Base */
.chzn-container {
  font-size: 13px;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.chzn-container .chzn-drop {
  background: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  z-index: 1010;
}
/* @end */

/* @group Single Chosen */
.chzn-container-single .chzn-single {
  background-color: #ffffff;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  border: 1px solid #aaaaaa;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 20px;
  line-height: 20px;
  padding: 0 0 0 8px;
  color: #444444;
  text-decoration: none;
  -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;
}
.chzn-container-single .chzn-single.chzn-single-with-drop{border-color: #2564A3;}

.chzn-container-single .chzn-single div {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px;
}
.chzn-container-single .chzn-single div b {
  background: url('./images/chosen/chosen-sprite.png') no-repeat 0 0;
  display: block;
  width: 100%;
  height: 100%;
}
.chzn-container-single .chzn-search {
  padding: 3px 4px;
  position: relative;
  margin: 0;
  white-space: nowrap;
  z-index: 1010;
}
.chzn-container-single .chzn-search input {
  background: #fff url('./images/chosen/chosen-sprite.png') no-repeat 100% -22px;
  background: url('./images/chosen/chosen-sprite.png') no-repeat 100% -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: url('./images/chosen/chosen-sprite.png') no-repeat 100% -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url('./images/chosen/chosen-sprite.png') no-repeat 100% -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url('./images/chosen/chosen-sprite.png') no-repeat 100% -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url('./images/chosen/chosen-sprite.png') no-repeat 100% -22px, -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url('./images/chosen/chosen-sprite.png') no-repeat 100% -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  outline: 0;
  border: 1px solid #2564A3;
  font-family: sans-serif;
  font-size: 1em;
}
.chzn-container-single .chzn-drop {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius   : 0 0 4px 4px;
  border-radius        : 0 0 4px 4px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
}
/* @end */


/* @group Results */
.chzn-container .chzn-results {
  margin: 0 4px 4px 0;
  max-height: 240px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.chzn-container-multi .chzn-results {
  margin: -1px 0 0;
  padding: 0;
}
.chzn-container .chzn-results li {
  display: none;
  line-height: 15px;
  padding: 5px 6px;
  margin: 0;
  list-style: none;
}
.chzn-container .chzn-results .active-result {
  cursor: pointer;
  display: list-item;
}
.chzn-container .chzn-results .highlighted {
  background-color: #3875d7;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0 );  
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -ms-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  color: #fff;
}
.chzn-container .chzn-results li em {
  background: #feffde;
  font-style: normal;
}
.chzn-container .chzn-results .highlighted em {
  background: transparent;
}
.chzn-container .chzn-results .no-results {
  background: #f4f4f4;
  display: list-item;
}
.chzn-container .chzn-results .group-result {
  cursor: default;
  color: #999;
  font-weight: bold;
}
.chzn-container .chzn-results .group-option {
  padding-left: 15px;
}
/* @end */

/* Multiple select. */
.chzn-container-multi .chzn-choices {
    -moz-box-sizing: border-box;
    background-color: #FFFFFF;
    background-image: linear-gradient(#EEEEEE 1%, #FFFFFF 15%);
    border: 1px solid #ccc;
    cursor: text;
    height: auto !important;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;
}
.chzn-container-multi .chzn-choices:hover{border-color: #2564A3}

.chzn-container-multi .chzn-choices li.search-choice {
    background-clip: padding-box;
    background-color: #E4E4E4;
    background-image: linear-gradient(#F4F4F4 20%, #F0F0F0 50%, #E8E8E8 52%, #EEEEEE 100%);
    border: 1px solid #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: default;
    line-height: 13px;
    margin: 3px 0 3px 5px;
    padding: 3px 20px 3px 5px;
    position: relative;
}
.chzn-container-multi .chzn-choices li {
    float: left;
    list-style: none outside none;
}

.chzn-container-multi .chzn-choices li.search-choice .search-choice-close {
    background: url("chosen-sprite.png") no-repeat scroll -42px 1px transparent;
    display: block;
    font-size: 1px;
    height: 12px;
    position: absolute;
    right: 3px;
    top: 4px;
    width: 12px;
}

.chzn-container-multi .chzn-choices li.search-field input {
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    box-shadow: none;
    color: #666666;
    font-family: sans-serif;
    font-size: 100%;
    height: 15px;
    margin: 1px 0;
    outline: 0 none;
    padding: 5px;
}

.chzn-container-multi .chzn-choices li.search-choice .search-choice-close {
    background: url("./images/chosen/chosen-sprite.png") no-repeat scroll -47px 1px transparent;
    display: block;
    font-size: 1px;
    height: 12px;
    position: absolute;
    right: 3px;
    top: 4px;
    width: 12px;
}
/* @end */

/* Product and project seleteGroup. */
.chzn-container-single .chzn-single div b {background: url('./images/chosen/chosen-sprite.png') no-repeat 0 -2px;}

#navbar ul .chzn-results li {margin:0; padding:0px 0px 0px 5px; float:none; text-align:left; list-style-type:none; font-size:14px}
#navbar ul .chzn-results .active-result {padding:0px 0px 0px 25px;}
#modulemenu .chzn-results {height:auto; padding:0px}
#modulemenu .chzn-results li {color:black}

#productID_chzn .chzn-single, #projectID_chzn .chzn-single {background-color: #E5e5e5; border: none; text-align:left; padding:0}
#productID_chzn, #projectID_chzn{border:1px solid #ccc; margin-top:3px; padding-left:5px}

#story_chzn .chzn-single, #task_chzn .chzn-single {border: 1px solid #ccc; height:24px; line-height:24px}
