/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    Example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:#111;}
#colorbox{box-shadow:5px 5px 2px #555; -webkit-box-shadow:5px 5px 2px #555; -moz-box-shadow:5px 5px 2px #555; padding-bottom:10px;}
#cboxContent{background:#fff; padding:25px 25px 0px;}
#cboxLoadedContent{margin-bottom:28px;}
#cboxCurrent{position:absolute; bottom:3px; left:58px; color:#949494;}
#cboxSlideshow{position:absolute; bottom:3px; right:30px; color:#0092ef;}
#cboxClose{position:absolute; top:2px; right:2px; background:url(images/main/zt-icons.png) -60px -22px no-repeat; width:20px; height:20px; text-indent:-9999px;}
#cboxClose.hover{background-position:-25px -25px;}
