.listMenu 
{
    position:absolute; 
    background:#fff; 
    border: 1px solid #ccc;
    /*border-radius: 6px 6px 6px 6px;*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    max-height:400px;
    overflow:auto;
    overflow-x:hidden;
}

.listMenu ul
{
    margin:5px 0px;
}

.listMenu ul li
{
    padding:3px 0px;
    height:20px;
    font-size:14px;
    list-style-type:none;
}

.listMenu ul li:hover
{
    background:#e5e5e5;
    cursor:pointer;
}

.listMenu ul li a
{
    padding:0px 20px;
    float:left;
    clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    line-height: 20px;
    white-space: nowrap;
}

.listMenu ul li a[id$='Item']:after
{
  border-color: transparent transparent transparent #CCCCCC;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;
  height: 0;
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}

.groupButton
{
  display:inline-block;
}

.groupButton > input[type='button'], .groupButton > button, #allchecker, #reversechecker
{
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  /*background-color: #F5F5F5;*/
  /*background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);*/
  /*background-repeat: repeat-x;*/
  /*border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;*/
  border-image: none;
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);*/
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  height: 30px;
  margin-bottom: 0;
  padding: 4px 8px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
}

.groupButton > input[type='button']:first-child, .groupButton #allchecker
{
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.groupButton > input[type='button'] + input[type='button'], .groupButton > input[type='button'] + button, .groupButton #reversechecker
{
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.125) inset, 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin-left:-1px;
  margin-right:5px;
}

.groupButton > input[type='button'] + button
{
  margin-left:-5px;
  padding:10px 5px;
}

.groupButton button .caret 
{
  border-bottom: 4px solid #000000;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 0 none;
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: top;
}

/* Disabled button and disabled link. */
.groupButton input[disabled='disabled'] {background:#eee; color:#ccc}
.listMenu li a.disabled {color:#ccc}

