.icon-title   {padding-left:16px; padding-bottom:2px; background:url(images/main/ui-gray.png); background-position:-0px 142px;}
.icon-notice  {padding-left:16px; padding-bottom:3px; background:url(images/main/ui-gray.png); background-position:-16px 98px;}
.icon-help    {padding-left:16px; padding-bottom:2px; background:url(images/main/ui-gray.png); background-position:-48px 96px;}
.icon-dynamic {padding-left:16px; padding-bottom:2px; background:url(images/main/ui-gray.png); background-position:-80px 126px;}
.icon-more    {padding-left:16px; padding-bottom:2px; background:url(images/main/ui-gray.png); background-position:-32px -18px;}
.icon-bug     {padding-left:16px; padding-bottom:2px; background:url(images/main/ui-gray.png); background-position: 2px 96px;}
.icon-todo    {padding-left:16px; padding-bottom:2px; background:url(images/main/ui-gray.png); background-position:-64px 94px;}
.icon-doing   {padding-left:16px; padding-bottom:2px; background:url(images/main/ui-gray.png); background-position:-16px 126px;}

.button-add        {background:url(images/main/add_button_95x36.png) left top; padding:11px 15px 9px 32px; color:#fff; font-weight:bold;}
.button-add:hover  {background-position:left center; padding:12px 15px 10px 32px; color:#fff; font-weight:bold;}
.button-add:active {background-position:left center; padding:12px 15px 10px 32px; color:#fff; font-weight:bold;}
