.icon-title   {padding-left:16px; padding-bottom:2px; background:url(images/main/ui-gray.png);  background-position:-0px 142px;}
.icon-notice  {padding-left:16px; padding-bottom:3px; background:url(images/main/ui-gray.png);  background-position:-16px 98px;}
.icon-help    {padding-left:16px; padding-bottom:2px; background:url(images/main/ui-gray.png);  background-position:-48px 96px;}
.icon-dynamic {padding-left:16px; padding-bottom:2px; background:url(images/main/zt-icons.png); background-position:-65px -444px;}
.icon-more    {padding-left:16px; padding-bottom:2px; background:url(images/main/ui-gray.png);  background-position:-32px -18px;}

.icon-todo    {padding-left:16px; padding-bottom:2px; background:url(images/main/zt-icons.png); background-position:-2px  -443px;}
.icon-doing   {padding-left:16px; padding-bottom:2px; background:url(images/main/zt-icons.png); background-position:-22px -443px;}
.icon-bug     {padding-left:16px; padding-bottom:2px; background:url(images/main/zt-icons.png); background-position:-42px -444px;}
.icon-story   {padding-left:16px; padding-bottom:2px; background:url(images/main/zt-icons.png); background-position:-82px -443px;}

.button-add        {background:url(images/main/add_button_95x36.png) left top; padding:11px 15px 9px 32px; color:#fff; font-weight:bold;}
.button-add:hover  {background-position:left center; padding:12px 15px 10px 32px; color:#fff; font-weight:bold;}
.button-add:active {background-position:left center; padding:12px 15px 10px 32px; color:#fff; font-weight:bold;}
