/**
* The css file of ZenTaoMS.
*
* ZenTaoMS is free software: you can redistribute it and/or modify
* it under the terms of the GNU Lesser General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.

* ZenTaoMS is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU Lesser General Public License for more details.
* 
* You should have received a copy of the GNU Lesser General Public License
* along with ZenTaoMS.  If not, see <http://www.gnu.org/licenses/>.
*
* @copyright   Copyright: 2009 Chunsheng Wang
* @author      Chunsheng Wang <wwccss@263.net>
* @package     ZenTaoMS
* @version     $Id: style.css 1454 2009-10-23 01:45:26Z wwccss $
* @link        http://www.zentao.cn
*/

/*-----------------------FIELDSET SETTING----------------------------*/
fieldset {border:1px solid #e4e4e4; padding:1px 10px 1px 10px; margin-bottom:5px}
legend   {font-weight:bold; color:darkgreen}
fieldset .table-1 {margin:0;}
fieldset tr, fieldset td, fieldset th {border:none; padding:2px}
del{background:#fcc}
ins{background:#cfc; text-decoration:none}

/*-----------------------FORM SETTING----------------------------*/
.text-1 {width: 90%}
.text-2 {width: 120px}
.text-3 {width: 240px}
.text-4 {width: 360px}
.text-5 {width: 480px}

.select-1 {width: 90%}
.select-2 {width: 125px}
.select-3 {width: 245px} 
.select-4 {width: 360px}
.select-5 {width: 480px}

.area-1{width: 90%;}
.area-2{width: 120px}
.area-3{width: 240px}
.area-4{width: 360px}
.area-5{width: 480px}

.button-s{padding:3px 20px 3px 20px}
.button-r{padding:3px 20px 3px 20px}
.button-c{padding:3px 20px 3px 20px}

/*-----------------------TABLE SETTING----------------------------*/
table, th, td {border-color:#e4e4e4}
tr, th, td    {padding:3px}
caption       {border:1px solid #e4e4e4; background:#efefef; margin:0; padding:5px; border-bottom:none; text-align:left; font-weight:bold;}
.table-1 {width:100%; margin-bottom:10px}
.table-2 {width:240px;margin-bottom:10px}
.table-3 {width:360px;margin-bottom:10px}
.table-4 {width:480px;margin-bottom:10px}
.table-5 {width:600px;margin-bottom:10px}
.colhead th  {text-align:center; background:#efefef;}
.rowhead     {font-weight:bold; text-align:right; width:100px}
.fixed       {table-layout:fixed}
.nobr                {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.fixed th, .fixed td {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

/*-----------------------LAYOUT SETTING----------------------------*/
.f-left   {float:left;  padding-left: 5px}
.f-right  {float:right; padding-right:5px}
.c-none   {clear:none;}
.c-left   {clear:left;}
.c-right  {clear:right;}
.c-both   {clear:both;}
.a-center {text-align: center;}
.a-right  {text-align: right;}
.a-left   {text-align: left;}

.half-left  {float:left;  width:48%; text-align:left;  clear:left}
.half-right {float:right; width:48%; text-align:right; clear:right}

.hidden {display:none}
.block  {display:block}
.inline {display:inline}

.w-p5  {width: 5%}
.w-p10 {width: 10%}
.w-p15 {width: 15%}
.w-p20 {width: 20%}
.w-p25 {width: 25%}
.w-p30 {width: 30%}
.w-p35 {width: 35%}
.w-p40 {width: 40%}
.w-p45 {width: 45%}
.w-p50 {width: 50%}
.w-p55 {width: 55%}
.w-p60 {width: 60%}

.margin-10px {margin:    10px}
.padding-10px{padding:   10px}

.mt-10px {margin-top:    10px}
.mr-10px {margin-right:  10px}
.mb-10px {margin-bottom: 10px}
.ml-10px {margin-left:   10px}
.pt-10px {padding-top:   10px}
.pr-10px {padding-right: 10px}
.pb-10px {padding-bottom:10px}
.pl-10px {padding-left:  10px}

.box-title   {border:1px solid #e4e4e4; background:#efefef; margin:0; padding:5px; border-bottom:none; text-align:left; font-weight:bold;}
.box-content {border:1px solid #e4e4e4; padding:5px}

/*-----------------------BORDER SETTING--------------------------*/
.bd-1px    {border:1px        solid}
.bt-1px    {border-top:1px    solid}
.bl-1px    {border-left:1px   solid}
.bb-1px    {border-bottom:1px solid}
.br-1px    {border-right:1px  solid}
.bd-none   {border:none}
.bd-green  {border-color:#58CB64}
.bd-yellow {border-color:#F4BF20}
.bd-blue   {border-color:#64B7D7}
.bd-gray   {border-color:#CCC;}

/*-----------------------BACKGROUND SETTING----------------------------*/
.bg-green  {background-color:#DDF1D8;}
.bg-blue   {background-color:#DEEEF4}
.bg-yellow {background-color:#FBF5C6;}
.bg-gray   {background-color:#efefef;}

/*-----------------------SPECIAL PART SETTING--------------------*/

/* 最顶部的导航条。*/
#topbar {margin-bottom:5px}

/* 导航条通用设置。*/
#navbar    {font-weight:bold; font-size:108%;}
#navbar ul {margin:0; padding:0; height:28px; line-height:28px} 
#navbar li {margin:0; padding:0; float:left; text-align:center; list-style-type:none}
#navbar a  {text-decoration:none}
#navbar a:hover {color:red;}

/* 一级菜单。*/
#mainmenu ul {background-color:#D6E7FF;}
#mainmenu li {padding:0 15px 0 15px;border-right:4px solid #73A2EF}
#mainmenu a  {color:black;}
#mainmenu .active   {color:#FFF; background-color:#00008B;}
#mainmenu .active a {color:white}

/* 模块的菜单。*/
#modulemenu    {color:white; margin-bottom:10px; font-weight:normal; font-size:normal}
#modulemenu ul {background-color:#000888; height:26px; line-height:26px} 
#modulemenu li {padding:0 5px 0 5px}
#modulemenu a  {color:white;}
#modulemenu .active a {color:yellow; font-weight:bold}
#modulemenu .right    {float:right; font-weight:bold}
#modulemenu .right  a {color:red}

/* 功能菜单。*/
#featurebar {margin-bottom:5px; background-color:#efefef; height:24px; line-height:24px; cursor:pointer}
#featurebar a         {text-decoration:none; color:black;}
#featurebar a:hover   {color:red;}
#featurebar select    {font-size:12px; height:22px}
#featurebar .active         {color:red; font-weight:bold;}
#featurebar .active select  {border:2px solid red}
#featurebar .active a       {color:red; font-weight:bold;}
#featurebar a .active       {color:red; font-weight:bold;}
#featurebar .f-right a      {color:red;font-weight:bold;}

/* TreeMenu设置。*/
#tree .active {color:blue; font-weight:bold}
#tree li { list-style-type:none;}

/* 标题。*/
#titlebar{font-size:16px; font-weight:bold; background:#e4e4e4; padding:5px; margin:10px 0 10px 0; height:22px}
#titlebar #main {float:left;  width:80%; clear:none; text-align:left}
#titlebar div   {float:right; width:20%; clear:none; text-align:right}
#titlebar #main input {font-size:14px}
#titlebar .button-s   {font-size:12px; padding-top:0; padding-bottom:0}

/* 页面其他元素。*/
.history {border:1px solid gray; background:#efefef; padding:10px; margin-top:10px; margin-bottom:10px}

/* 页脚。*/
#footer    {width:100%; position:fixed; bottom:0; left:0; margin:0; border-top:2px solid #F4BF20; background-color:#FBF5C6;}
#crumbs    {padding-left:10px}
#poweredby {padding-right:10px}

/* debug使用的设置。*/
#debugbar  {width:100%; position:fixed; bottom:18px; left:0; margin:0; background-color:#FBF5C6} 
#hiddenbar {width:100%; position:fixed; bottom:33px; left:0; margin:0; background-color:#FBF5C6}
.hiddenwin {display:none}
.debugwin  {display:block; width:100%; height:20px;}

/*-----------------------OTHERS SETTINGS --------------------*/
.done  {color:darkgreen}
.wait  {color:#9F9F5F}
.doing {color:red}
