body{padding:0px; margin: 0px;background-color: #fff;}
#header{display: none}
#footer{display: none}
#header+#main{min-width:auto}
#main{padding: 0px;}
#main .container{padding: 0px;}
#mainMenu{margin-top:0px;background-color: #efefef;}
#mainContent .cell{box-shadow:none; -webkit-box-shadow: none;}

.xuanxuan-card{padding-bottom:55px;}
.xuancard-actions{width: 100%;text-align: center; height: 35px; padding: 1px;}
.xuancard-actions.fixed{position: fixed; background: #fff; border-top: 1px solid #eee; bottom: 0; margin-bottom: 0; z-index: 999;}
body.xxc-embed {overflow-x: auto; overflow-y: hidden;}
.xxc-embed #header {position: fixed;top: 0;width: 100%;z-index: 10;}
.xxc-embed #toolbar {position: fixed;right: 120px!important;}
.xxc-embed #main {position: absolute;top: 50px;bottom: 0;left: 0;right: 0;overflow: auto;}
.xxc-embed .fix-table-copy-wrapper {top: 50px!important;}
