#mainContent .main-header h2 .heading{float:left}
#mainContent .main-header h2 .input-group{float:left; width:300px; margin-left:10px; font-weight:normal;}
#mainContent .detail {border: 1px solid #e5e5e5; margin: 20px 0 0; padding: 0;}
#mainContent .detail-title {background: #eee; padding: 10px;}
#mainContent .detail-content {padding: 0;}
#mainContent .detail .form-actions {padding-bottom: 20px;}
#mainContent .main-header h2 .input-group{margin-top:1px;}
