#mainContent td.projectName {white-space: nowrap; overflow-x: hidden;}
#pageNav .angle-btn:first-child a.btn {max-width: 300px; overflow: hidden;}
.totalCount {height: 36px !important; line-height: 30px; font-weight: bold; text-align: right !important; padding: 0px 50px 0px 8px !important; width: 100%;}
