#mainContent td.projectName {white-space: nowrap; overflow-x: hidden;}
.main-table tbody>tr:nth-child(odd) {background-color:#fff;}
#pageNav .angle-btn:first-child a.btn {max-width: 300px; overflow: hidden;}
.totalCount {margin-top: 15px !important; font-weight: bold; text-align: right; padding: 8px 50px 8px 8px;}
