.table-empty-tip {padding: 80px 10px; text-align: center; background: #fff;}
.table-empty-tip .btn-group .btn {background-color: rgba(var(--color-primary-50-rgb),var(--tw-bg-opacity)); color: var(--nav-active-color); --tw-ring-color: rgba(var(--color-primary-50-rgb),var(--tw-bg-opacity));}

.w-48 {width: 12rem !important;}
