#paramDiv .input-group {
    padding: 3px;
}
#paramDiv .form-control {
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.table-row {
    margin-bottom: 10px;
}
.col-custom {
    margin-bottom: 10px;
}
.paramTool {
    margin: 5px 0;
}