.base-url > p {margin: 0;}
.table-empty-tip > div {display: inline-block;}
.detail .list-group-item .heading.GET { background-color: #e7f0f7; }
.detail .list-group-item .heading.GET a { color: #0f6ab4; }
.detail .list-group { height: calc(100vh - 215px); overflow-y: auto; }
.detail .list-group-item .heading.OPTIONS { background-color: #e7f0f7; }
.detail .list-group-item .heading.OPTIONS a { color: #0f6ab4; }
.detail .list-group-item .heading.POST { background-color: #e7f6ec; }
.detail .list-group-item .heading.POST a { color: #10a54a; }
.detail .list-group-item .heading.PUT { background-color: #f9f2e9; }
.detail .list-group-item .heading.PUT a { color: #c5862b; }
.detail .list-group-item .heading.PATCH { background-color: #f9f2e9; }
.detail .list-group-item .heading.PATCH a { color: #c5862b; }
.detail .list-group-item .heading.DELETE { background-color: #f5e8e8; border: 1px solid #e8c6c7; }
.detail .list-group-item .heading.DELETE a { color: #a41e22; }
.detail .list-group-item a { display: flex; align-items: center; }
.detail .list-group-item .path, .detail .list-group-item .desc { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.detail .list-group-item .path { padding-left: 10px; font-size: 14px; color: black; flex: 1; }
.detail .list-group-item .desc { width: auto; font-size: 14px; line-height: 38px; float: right; padding-right: 10px; max-width: 200px; }
.detail .list-group-item {list-style: none; font-size: 14px; margin-bottom: 10px; line-height: 30px}
.detail .list-group-item span.method {line-height: 38px; width: 65px;background: #2e7fff; color: #fff; text-align: center;}
.detail .list-group-item .label+.label {margin-left: -4px;}
.detail .list-group-item .label {border-radius: 0;}
