.col-attr {vertical-align: middle; margin-bottom: 8px;}
.tree {padding-left: 30px!important;}
.leftBar > .btn {margin-right: 0px;}
.leftBar > .divider {color: #D9D9D9;}
.leftBar > .page-title > .text {font-weight: 400;}
