.panel-heading { justify-content: space-between; }
.panel-actions { margin-left: auto; }
.panel .path {font-size: 18px; font-weight: 600; margin: 0;}
.panel h2 {font-size: 17px; font-weight: 600; margin: 0;}
.panel h3 {font-size: 17px; margin-top: 20px; margin-bottom: 10px;}
pre { display: block; padding: 9.5px; margin: 0px 0px 10px; font-size: 12px; line-height: 1.38462; color: rgb(49, 60, 82); word-break: break-all; overflow-wrap: break-word; background-color: rgb(245, 245, 245); border: 1px solid rgb(204, 204, 204); border-radius: 4px; }

.scrollbar-hover { overflow-y: scroll; }
#mainContent .panel+.panel {flex: none}
#history{position: relative; width: 400px}
#history .history-changes {max-width: 400px !important; word-wrap: break-word;}
#history > #closeBtn { position: absolute; right: 10px; top: 10px;}
