:root
{
  --color-primary-50: #F2FBF8;
  --color-primary-100: #D2F5EC;
  --color-primary-200: #A4EBD8;
  --color-primary-300: #6FD9C2;
  --color-primary-400: #41C0A7;
  --color-primary-500: #29AA93;
  --color-primary-600: #248F83;
  --color-primary-700: #1B6A5F;
  --color-primary-800: #1A554D;
  --color-primary-900: #1A4741;
  --color-primary-950: #092A27;
  --color-primary-50-rgb: 242, 251, 248;
  --color-primary-100-rgb: 210, 245, 236;
  --color-primary-200-rgb: 164, 235, 216;
  --color-primary-300-rgb: 111, 217, 194;
  --color-primary-400-rgb: 65, 192, 167;
  --color-primary-500-rgb: 41, 170, 147;
  --color-primary-600-rgb: 36, 143, 131;
  --color-primary-700-rgb: 27, 106, 95;
  --color-primary-800-rgb: 26, 85, 77;
  --color-primary-900-rgb: 26, 71, 65;
  --color-primary-950-rgb: 9, 42, 39;

  --color-secondary-50: #f2fbf3;
  --color-secondary-100: #e0f8e3;
  --color-secondary-200: #c3efc8;
  --color-secondary-300: #94e19f;
  --color-secondary-400: #5eca6d;
  --color-secondary-500: #3bba4e;
  --color-secondary-600: #299038;
  --color-secondary-700: #237230;
  --color-secondary-800: #205b2a;
  --color-secondary-900: #1c4b25;
  --color-secondary-950: #0a2910;

  --color-secondary-50-rgb: 242, 251, 243;
  --color-secondary-100-rgb: 224, 248, 227;
  --color-secondary-200-rgb: 195, 239, 200;
  --color-secondary-300-rgb: 148, 225, 159;
  --color-secondary-400-rgb: 94, 202, 109;
  --color-secondary-500-rgb: 59, 186, 78;
  --color-secondary-600-rgb: 41, 144, 56;
  --color-secondary-700-rgb: 35, 114, 48;
  --color-secondary-800-rgb: 32, 91, 42;
  --color-secondary-900-rgb: 28, 75, 37;
  --color-secondary-950-rgb: 10, 41, 16;
}
