:root
{
  --color-primary-50: #F2FBF8;
  --color-primary-100: #D2F5EC;
  --color-primary-200: #A4EBD8;
  --color-primary-300: #6FD9C2;
  --color-primary-400: #41C0A7;
  --color-primary-500: #29AA93;
  --color-primary-600: #248F83;
  --color-primary-700: #1B6A5F;
  --color-primary-800: #1A554D;
  --color-primary-900: #1A4741;
  --color-primary-950: #092A27;
  --color-primary-50-rgb: 242, 251, 248;
  --color-primary-100-rgb: 210, 245, 236;
  --color-primary-200-rgb: 164, 235, 216;
  --color-primary-300-rgb: 111, 217, 194;
  --color-primary-400-rgb: 65, 192, 167;
  --color-primary-500-rgb: 41, 170, 147;
  --color-primary-600-rgb: 36, 143, 131;
  --color-primary-700-rgb: 27, 106, 95;
  --color-primary-800-rgb: 26, 85, 77;
  --color-primary-900-rgb: 26, 71, 65;
  --color-primary-950-rgb: 9, 42, 39;

  --color-secondary-50:  #EFFAF6;
  --color-secondary-100: #D6F2E7;
  --color-secondary-200: #ADE5CE;
  --color-secondary-300: #83D7B6;
  --color-secondary-400: #5ACA9D;
  --color-secondary-500: #31BD85;
  --color-secondary-600: #2BA675;
  --color-secondary-700: #28996C;
  --color-secondary-800: #21805A;
  --color-secondary-900: #185E3B;
  --color-secondary-950: #0E3421;

  --color-secondary-50-rgb:  239, 250, 246;
  --color-secondary-100-rgb: 214, 242, 231;
  --color-secondary-200-rgb: 173, 229, 206;
  --color-secondary-300-rgb: 131, 215, 182;
  --color-secondary-400-rgb: 90, 202, 157;
  --color-secondary-500-rgb: 49, 189, 133;
  --color-secondary-600-rgb: 43, 166, 117;
  --color-secondary-700-rgb: 40, 153, 108;
  --color-secondary-800-rgb: 33, 128, 90;
  --color-secondary-900-rgb: 24, 94, 59;
  --color-secondary-950-rgb: 14, 52, 33;
}
