html{overflow:hidden;}
body{height:100%; overflow:auto;margin:0 15px 0 0}
div#footer, div#debugbar, div#hiddenbar{position:absolute;}
.button-s, .button-c, .button-r{padding:0; font-size:14px}
#divider{margin-bottom:35px}
#footer{ line-height:15px; height:15px; padding-top:34px}
#mainmenu #mainbg{background:none;}
