#noticeAttend{opacity:0;animation: setOpacity 1s linear 1s both;}
@keyframes setOpacity{
  0%   {opacity:0;}
  100%  {opacity:1;}
}
#dashboardWrapper .panel-body .table{margin-top:-1px;}
.table-row{display: table;width: 100%;table-layout: fixed;vertical-align:middle;}
.table-col, .table-row>.col, .table-row>[class*=col-], .table-row>[class*="-col"]{
display: table-cell;float: none;vertical-align: top;}
.statusBlock .col{height:200px;text-align:center;padding-top:60px;}
.statusBlock .col h2{font-size:18px;font-weight:500;}
.statusBlock .date h2{font-size:18px;font-weight:500;}
.statusBlock .server a{padding-top:3px;padding-bottom:3px; background: linear-gradient(#ffffff, #ecf4ff);color:#477cf9;}
.statisticsBlock .col{height:100px;text-align:center;padding-top:20px;}
.statisticsBlock .col h2{font-size:18px;font-weight:500;}
