.tabs{position:relative;}
.tabs .nav-tabs{border-bottom:none;}
.tabs .nav-tabs>li{margin-bottom:0px;}
.tabs .tab-content{padding: 0px; border: 0px;}
.tabs .tab-content .tab-pane .action{position: absolute; right: 0px; top: 0px;}
.tabs .tab-content .tab-pane #querybox{margin:0px; border-left:1px solid #ddd; border-right:1px solid #ddd;}
.tabs .tab-content .tab-pane #querybox form{padding-left:0px;}

.hide-side .col-main {width: 100%;}
.hide-side .col-side .main-side {width: 0; display: none;}

#unlinkBugList, #unlinkStoryList{margin-bottom:5px;}
input[type=checkbox].ml-10px{margin-left:10px;}

.dropdown-menu.with-search {padding: 0; min-width: 150px; overflow: hidden; max-height: 302px;}
.dropdown-menu > .menu-search .input-group {width:100%;}
.dropdown-menu > .menu-search .input-group-addon {position: absolute; right: 10px; top: 0; z-index: 10; background: none; border: none; color: #666}
.dropdown-menu > .menu-search .form-control {border: none!important; box-shadow: none!important; border-top: 1px solid #ddd!important;}
.dropdown-list {display: block; padding: 0; max-height: 270px; overflow-y: auto;}
.dropdown-list > li > a {display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 1.53846154; color: #141414; white-space: nowrap;}
.dropdown-list > li > a:hover,
.dropdown-list > li > a:focus {color: #1a4f85;text-decoration: none;background-color: #ddd;}

.table-actions {padding-left: 5px;}

#planInfo {border-top: 1px solid #ddd;}
#planInfo > div {padding-top: 15px;}

#querybox form {margin: 0px !important;}
#moreOrLite {right: 0px !important;}
