#mainMenu, .actions, .pager-size-menu, .tab-btn-container ul li span {display: none;}
#main {min-width: unset; height:407px; overflow-y: overlay;}
.main-content {padding: 0;}
.table-footer {position: fixed; width: 100%; bottom: 0;}
.tab-btn-container {width: 100%; background-color: #f2f2f2;}
.tab-btn-container ul {display: flex; justify-content: center;}
.tab-btn-container ul li {list-style: none;}
.plan-title {position: absolute; top: 0; left: 0; padding: 8px 15px; font-weight: bolder;}
.tab-btn-container ul li.active span {display: inline-block;}
.linkButton {float: right; padding-right: 10px; cursor: pointer;}
.linkButton i {font-size: 17px !important;}
.linkButton span {line-height: 36px; display: block;}
::-webkit-scrollbar {width: 10px; height: 10px;}
::-webkit-scrollbar-thumb:vertical {box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%); background-color: rgba(0, 0, 0, 0.2); border-radius: 10px; opacity: 0; transition: opacity 0.1s;}