.parentModule {width:10%; vertical-align:middle;}
.copy {display:block; margin-bottom:5px;}

.outer .row .col-md-8 .table-form {max-width: 600px}

#sonModule, #moduleBox > span > input, #moduleBox > table{max-width: 500px}
#sonModule  .row-table .input-group input {border-right: none}
#moduleBox span > .form-control {margin-bottom: 5px;}

.w-260px {width: 260px!important}
table.copy td {padding: 0!important}
table.copy td .form-control {border-right: 0}

.tree-toggle {cursor: pointer;}
.tree-actions, .tree li.hover > .tree-actions {opacity: 1}
.tree-item-branch > .tree-actions [data-type='sort'] {display: none}
.tree-item-branch > .tree-actions [data-type='add'] > .icon-plus:before {content: '\e6c7'}

#childrenForm table .chosen-container .chosen-single {border-right-color: transparent}
#childrenForm table .chosen-container .chosen-single {border-right-color: transparent}
#childrenForm .col-table + .col-table .form-control {border-left: transparent;}
