.panel-heading.status-heading {justify-content: flex-start; padding-bottom: 0px;}
.panel-heading.status-heading .panel-title {font-weight: 400; justify-content: flex-end; width: 5rem; font-size: var(--font-size-page)}
