#importLinesModal .modal-dialog {width: 80%;}

.c-id {width: 50px !important;}
.c-branch, .c-module, .c-os {width: 120px;}
.c-execution {width: 130px;}
.c-build, .c-browser, .c-keywords {width: 100px;}
.c-steps {width: 150px;}
.c-pri, .c-severity {width: 80px;}
.c-actions {width: 60px;}
[lang^=de] .c-build {width: 110px}
[lang^=fr] .c-build {width: 110px}
