.closed, .closed a {color: gray; text-decoration:line-through;}
.resolved, .resolved a {color: #8EC21F; text-decoration: none;}
.tree .closed, .tree .closed a {color: #003366; text-decoration: none;}
#bugForm .setting {height: 25px;}

.datatable-wrapper .table-datatable .datatable-row td {height: 37px;}

#createActionMenu .dropdown-menu {width: 100%;}

.dropdown-menu.with-search {padding: 0; min-width: 150px; overflow: hidden; max-height: 302px;}
.dropdown-menu > .menu-search .input-group {width: 100%;}
.dropdown-menu > .menu-search .input-group-addon {position: absolute; right: 10px; top: 0; z-index: 10; background: none; border: none; color: #666;}
.dropdown-menu > .menu-search .form-control {border: none !important; box-shadow: none !important; border-top: 1px solid #ddd !important;}
.dropdown-menu > li > a {text-align: left;}
.dropdown-list {display: block; padding: 0; max-height: 270px; overflow-y: auto;}
.dropdown-list > li > a {display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 1.53846154; color: #141414; white-space: nowrap;}
.dropdown-list > li > a:hover,
.dropdown-list > li > a:focus {color: #1a4f85; text-decoration: none; background-color: #ddd;}

th.c-confirmed {text-align: center;}
.c-severity {overflow: hidden; white-space: nowrap;}
.c-keywords {overflow: hidden; white-space: nowrap;}
.c-id {text-overflow: ellipsis; white-space: nowrap;}
.c-toTask {overflow: hidden; white-space: nowrap;}

.body-modal #mainMenu>.btn-toolbar {width: auto;}

body {margin-bottom: 25px;}
#mainMenu .btn-toolbar .btn-group .dropdown-menu .btn-active-text:hover .text {color: #fff;}
#mainMenu .btn-toolbar .btn-group .dropdown-menu .btn-active-text:hover .text:after {border-bottom: unset;}
.btn-group a.btn-primary {border-right: 1px solid rgba(255,255,255,0.3);}
.btn-group button.dropdown-toggle.btn-primary {padding:6px;}
#bugForm tbody tr td .label {max-width: 100px; text-overflow: unset;}
[lang^='de'] th.c-confirmed {width: 100px !important;}

body {margin-bottom: 10px;}
#heading .btn-group {display: inline-block !important;}
#mainMenu .btn-group {gap: 0px;}
.btn-group a.btn-primary {border-right: 1px solid rgba(255,255,255,0.2);}
.btn-group button.dropdown-toggle.btn-primary {padding:6px;}

#main {padding-bottom: 0;}
#heading {display: flex;}
#dtable .dtable-header, #bugForm .dtable-rows {z-index: 4;}
.table-header.fixed-right > .btn-toolbar {right: 0; background-color: #f1f5f9;}

#dtable input[type=checkbox] {margin: 0px}

.table-footer {border-top: 1px solid #fff4ea; padding-left: 12px;}
.table-footer .pager{z-index: 10}
#dtable .scrollbar, .table-header.fixed-right {z-index: 11}

.dtable {--dtable-checked-bg: #fff4ea; --dtable-border-color: #f4f5f7}
.dtable-row {border-bottom-style: solid;}
.dtable-cell-html a{color: #2463c7}
.dtable-cell[data-sort='up']   .dtable-sort:before {color: #000; opacity: 1}
.dtable-cell[data-sort='down'] .dtable-sort:after  {color: #000; opacity: 1}
.dtable .toggle-icon {border-radius: 50%; border-style: solid;}
.dtable-nested-toggle.is-no-child, .dtable-nested-indent, .dtable-cell-html .icon-angle-double-right {display: none;}

.dtable-row.is-normal .dtable-cell[data-col="name"] {padding-left: 20px;}
.dtable-cell[data-col="actions"] > .dtable-cell-content .c-actions .dividing-line {width: 1px; height: 16px; display: inline-block; vertical-align: middle; background: #F4F5F7; margin: 0 4px 0 0;}

span.delayed {display: inline-block; height: 20px; line-height: 18px; background: #FFEBEB; color: #FB2B2B; border-radius: 20px; padding: 2px 8px;}
