.closed, .closed a{color:gray; text-decoration:line-through;}
.resolved, .resolved a{color:#8EC21F; text-decoration:none;}

.confirm0 {color:gray;  font-size:9px}
.confirm1 {color:green; font-size:9px}
tfoot .f-left {color:#141414;}
table.border-sep {border-collapse:separate;}
