.ke-toolbar .ke-outline[data-name='savetemplate'] {display: block;}
.ke-outline  .ke-icon-savetemplate {background-image: url(theme/default/images/kindeditor/save.gif); background-position: center; width: 56px; height: 20px;}

/* template box */

.bootbox-prompt .modal-dialog {width: 500px; margin-top: 10%;}

#buildBoxActions {padding-left: 15px;}

#tplBoxWrapper {position: relative; z-index: 10;}
#tplBoxWrapper > .btn-toolbar {position: absolute; right: 5px; top: 2px;}
#tplBoxWrapper .btn {padding: 2px 8px}
#tplBox li {position: relative;}
#tplBox li .btn-delete {position: absolute; right: 0; top: 0; display: block; width: 40px; text-align:center;}
#tplBox li .tpl-name {padding-right: 40px;}
