html[lang='en'] #moduleIdBox .input-group-addon {padding: 5px 23px;}
html[lang='en'] #deadlineTd .input-group-addon {padding: 5px 18px;}
html[lang='zh-cn'] #keywordsAddonLabel, .task {width: 77px;}
html[lang='zh-tw'] #keywordsAddonLabel, .task {width: 77px;}
html[lang='fr'] #keywordsAddonLabel, .task {width: 61px;}
html[lang='de'] #keywordsAddonLabel, .task {width: 73px;}

.ke-toolbar .ke-outline[data-name='savetemplate'] {display: block;}
.ke-outline  .ke-icon-savetemplate {background-image: url(theme/default/images/kindeditor/save.gif); background-position: center; width: 56px; height: 20px;}

/* template box */

.bootbox-prompt .modal-dialog {width: 500px; margin-top: 10%;}

#buildBoxActions {padding-left: 15px;}

#module + .chosen-container-single .chosen-single,
#task + .chosen-container-single .chosen-single,
#openedBuild + .chosen-container-multi .chosen-choices {border-top-left-radius: 0; border-bottom-left-radius: 0;}
#openedBuild + .chosen-container-multi .chosen-choices,
#mailto + .chosen-container-multi .chosen-choices {border-top-right-radius: 0; border-bottom-right-radius: 0;}

.dropdown-pris > .btn {background-color: #fff; text-shadow: none;}

#contactListGroup .chosen-container-single a {border-left-width: 0px;}

.minw-80px {min-width: 80px;}

.colorpicker.input-group-btn > .btn {border-right: none;}

.input-group-addon.w-90px {min-width: 90px;}
.input-group .input-group-btn .btn {padding: 6px 12px;}
.input-group .chosen-container {min-width: 80px;}
#all {border-left: none;}

.pri-selector > .btn {padding: 5px 8px !important; width: 100%;}
.pri-selector > .dropdown-menu {padding: 10px;}

.title-group.required:after {display: none;}
.title-group.required > .required:after {display: block; right: 29px; top: 5px;}
.title-group .chosen-container {width: 1% !important; min-width: 70px;}
.title-group #severity + .chosen-container > .chosen-single {border-radius: 0 !important;}
.title-group #pri + .chosen-container > .chosen-single {border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important;}
#mainContent .center-block {padding-bottom: 40px;}

#typeBox {width: 180px;}
#typeBox .required:after {right: 1px;}
#osBox .required:after {right: 1px;}
#osBox {width: 190px;}
#projectBox .required:after {right: 1px;}
#branch_chosen {min-width: 90px;}
#branch_chosen.chosen-container-active .chosen-single{border-left-color: #2e7fff !important;}
#notifyEmailTd .input-group-addon, #deadlineTd .input-group-addon {border-radius: 2px 0px 2px 0px !important;}

#feedback.input-group + #notifyEmailLabel {position: relative; width: 50%; left: 48%;}
#executionLabel {display: inline; position: relative; width: 50%; left: 37%;}
#projectLabel {display: inline;}
#openedBuildLabel {display: inline; position: relative; width: 50%; left: 14%;}
#bugTypeInputGroup > .table-col {width: 40% !important;}

.pri-text > .label-pri {padding: 2px 6px;}
.table .bug-type td, .table .bug-type th {vertical-align: top !important;}
.table .bug-type th {padding-top: 14px;}
