#steps {width:100%}
#task, #story, .text-1 {width: 85%}
.w-p100 {margin:0}
/* The build template setting. */
.button-c {padding:2px}
.ke-outline .ke-icon-savetemplate {background-image: url(theme/default/images/kindeditor/save.gif); background-position: center; width: 56px; height: 20px;} 
