body{background:white; overflow:hidden;}
.btn-group .btn{display: block;width: 60px;text-align: center; padding: 4px; margin-bottom:2px;}
.btn-group .btn:hover{z-index: 9999;}
.btn-group .btn i{line-height: 21px;}
