.col-side .chosen-container .chosen-drop {width: 216px !important;}
.col-side .chosen-container {width: 218px !important;}
.col-side .chosen-container[id^="openedBuild"] {width: 172px !important;}
.col-side .chosen-container[id^="resolvedBuild"] {width: 172px !important;}
.chosen-choices li.search-choice {word-break: break-all;}
#linkBugBox > li {margin-left: -56px;}
#branch {width: 95px;}
#storyIdBox .chosen-auto-max-width {width: 215px !important;}
.form-group {margin-left: 10px; margin-right: 10px;}
#resolvedBuildBox {table-layout: fixed;}
@media (max-width: 1366px) {#resolvedBuildBox {width: calc(100% - 50px);}}
@media (min-width: 1367px) {#resolvedBuildBox {width: calc(100% - 48px);}}
