.content .stepTitle{margin:7px 0 7px -15px; display:block; color: green}
#titlebar #main {float:left;  width:55%; clear:none; text-align:left}
#titlebar div   {float:right; width:45%; clear:none; text-align:right}

