body {margin-bottom: 0px !important;}
#mainMenu, #sidebar, .dropdown, .pager > li > .pager-size-menu, .table-footer > .table-actions, .table-footer>.table-statistic {display: none;}
#main {min-width: unset; overflow-y: overlay; position: unset !important;}
#main > .container {width: 100% !important;}
#mainContent > .main-col {margin-top: 0px;}
#xx-title {background-color: #F2F2F2; padding-left: 15px; line-height: 40px;}
.checkbox-primary {display: none !important;}
.table-footer{position: fixed; width: 100%; bottom: 0;}
.table-responsive {margin-bottom: unset;}
.main-table a {pointer-events: none;}
.pager a {pointer-events: unset;}
.linkButton {float: right; padding-right: 10px; cursor: pointer;}
.linkButton i {font-size: 17px !important;}
.linkButton span {line-height: 34px; display: block;}
