body * {font-size: 13px !important; line-height: 1.42857143; color: rgb(51, 51, 51);}
#main {margin-bottom: 40px; min-width: unset;}
#mainMenu .pull-left>a, #mainMenu .pull-left .divider, #mainMenu .pull-right, #mainContent .col-4, .main-actions {display: none;}
#mainMenu {position: fixed; width: 100%; z-index: 999;}
#scrollContent {margin-top: 35px; height: calc(100% - 70px); display: block; overflow: hidden;}
#scrollContent:hover {overflow: overlay;}
html, body, #main, .container { height: 100%;}
.btn span {line-height: 16px; vertical-align: middle;}
.modal-dialog {width: 90%;}
.page-title > .label-id {min-width: 25px; line-height: 13px;}
.linkButton {float: right; padding-right: 10px; cursor: pointer;}
.linkButton i {font-size: 17px !important;}
.linkButton span {line-height: 34px; display: block;}
::-webkit-scrollbar {width: 10px; height: 10px;}
::-webkit-scrollbar-thumb:vertical {box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%); background-color: rgba(0, 0, 0, 0.2); border-radius: 10px; opacity: 0; transition: opacity 0.1s;}
