th.required:after {position: relative; right: 10px;}
td .passwordBox {border-left-width: 0px!important;}

.c-id {width: 40px;}
.c-realname, .c-visions {width: 130px;}
.c-dept, .c-role, .c-group, .c-commiter, .c-join, .c-contact {width: 120px;}
.c-company {width: 210px;}

.user-type{margin: 8px 0px 0px 8px; float: left;}
