#featurebar ul.nav li .chosen-container a.chosen-single{background:#F8FAFE; border:none; -webkit-box-shadow:none;box-shadow:none; padding-top:5px;}
.w-verifyPassword {width: 120px !important;}
.w-enVerifyPassword {width: 150px !important;}
