.timeline .collapsed .icon {transform: rotate(270deg);}
.timeline .collapsed .alert {display: none;}

.timeline > li + li:after {position: absolute; top: 90px; bottom: 20px; left: 40px; z-index: 1; display: block; content: ' '; border-left: 2px solid #eee;}

.actions-box {background-color: rgba(var(--color-gray-100-rgb), .5);}
