#mainContent .panel {max-width: 600px; margin-top: 100px;}
.forget-password .form-group {padding-left: 0;}
.forget-password .form-label {position: static; width: min-content; padding-left: 0;}
.forget-password .form-actions {align-items: center;}
