body {background: #1183fb linear-gradient(-90deg, #0a48d1 0%, #1183fb 100%); background-color: #1183fb;}
#forget {max-width: 400px !important; margin: 0 auto; margin-top: 13%;}
#forgetPanel {background: #fff; overflow: hidden; box-shadow: 0 0 20px 0 rgba(0,0,0,.1); border-radius: 3px;}
#title {font-size: 16px; font-weight: bold; text-align: center; margin: 20px 0; margin-bottom: 0px; line-height: 26px; padding: 0 50px;}
#forgetForm {padding: 0 40px; margin-top: 12px;}
#forgetForm label {margin-bottom: 8px; font-size: 13px; color: #3C4353;}
#forgetForm .form-group + .form-group {margin-top: 18px;}
#forgetForm .form-control {border-color: #B2B6BF; background: transparent; border-radius: 2px; height: 30px;}
#forgetForm .form-control:focus {border-color: #2272eb; background: #fff;}
#forgetForm .form-actions {padding-bottom: 20px;}
.required:after {top: 32px; right: -15px;}
.resetBox {float: right; font-size: 8px; margin-right: 2px;}
#forgetForm .form-actions > .btn-wide {min-width: 45%;}
#forgetForm .form-actions > a.btn-wide {margin-right: 0px;}
