html{background-color:#06294e;}
body{background-image:url(theme/default/images/main/loginbg.png); background-position:center top; background-repeat:no-repeat;}
table, tr, td, th, input{ border:none;}
.rowhead {width:300px; font-weight:normal; font-size:14px; text-align:right; color:#fff;}
.text-2  {width:150px; height:22px; background-color:#a4c5e0; border:1px solid #035793; font-size:16px; font-weight:bold}
.select-2{width:150px}
.pt-20px {padding-top:20px}
.pt-200px{padding-top:200px}
.pt-25px {padding-top:25px}
#debugbar, .helplink{display:none}
#welcome{background:none; border:none; color:#FFF; padding-top:8px;}
#poweredby{color:#fff; margin-top:40px; height:50px; text-align:center; line-height:1}
#poweredby a {color:#fff}
.button-s, .button-c {padding:3px 5px 3px 5px; width:80px; font-size:14px; font-weight:bold}
#keeplogin {color:white; font-size:14px}
.rowhead {border:none}
