html,body{background-color: #036;}
#container{margin: 4% auto 0 auto;}
#logo{height: 170px;background:url('theme/default/images/main/zt-logo.png') center no-repeat;}
#login-panel{margin: 0 auto;width: 540px;min-height: 280px;background-color: #fff;border: 1px solid #dfdfdf;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;-moz-box-shadow:0px 0px 30px rgba(0,0,0,0.75); -webkit-box-shadow:0px 0px 30px rgba(0,0,0,0.75); box-shadow:0px 0px 30px rgba(0,0,0,0.75);}
#login-panel .panel-head{min-height: 70px;background-color: #edf3fe;border-bottom: 1px solid #dfdfdf;position: relative;}
#login-panel .panel-head h3{margin: 0 0 0 20px;padding: 0;line-height: 70px;}
#login-panel .panel-head .nav{float: right;position: absolute;right: 0;top: 0;padding: 0;}
#login-panel .panel-head .nav .btn{clear: both;display: block;margin: 10px 10px 0 0;position: absolute;top: 6px;right: 6px;border-color: #ccc;}
#login-panel .panel-head .nav #mobile{background-color: #0053a6;border-color: #036;color: #fff;}
#login-panel .panel-head .nav #mobile:hover{background-color: #036;}
#login-panel .panel-head .nav #mobile i{margin: 0;padding: 0;}
#login-panel .panel-head .nav #lang{right: 60px;padding: 8px;width: auto;word-spacing:nowrap; overflow:visible;min-width: 80px;text-align: center;}
#login-panel .panel-content table{border: none;width: 300px;margin: 20px auto;}
#login-panel .panel-content table td{padding: 6px;}
#login-panel .panel-content table td.attr{font-weight: bold;text-align: right;vertical-align: middle;}
#login-panel .panel-content input.text-2{width: 212px;}
#login-panel .panel-content .button-s{width: 120px;}
#login-panel .panel-content .button-c{width: 88px;margin-right: 0;}
#login-panel .panel-foot{text-align: center;padding: 15px;line-height: 2em;background-color: #e5e5e5;border-top: 1px solid #dfdfdf;}
.droppanel{display: none;margin: 0;padding: 4px 0;position: absolute;left: 0;top: 55px;background-color: #fff;-moz-box-shadow:0px 2px 6px rgba(0,0,0,0.5); -webkit-box-shadow:0px 2px 6px rgba(0,0,0,0.5); box-shadow:0px 2px 6px rgba(0,0,0,0.5);z-index: 9999;}
#langs{left: -166px;}
#qrcode{left: -310px;padding: 0;}
#qrcode h4{background-color: #e5e5e5;line-height: 2em;padding:5px 15px;}
.droppanel li{list-style: none;min-width: 120px;font-size: 14px;}
.droppanel li a{display: block;padding: 8px 15px;border-bottom: 1px dashed #eee;}
.droppanel li a:hover{background-color: #e5e5e5;color: #333;}
.droppanel li a.active{background-color: #FAFFBD;}
#poweredby{float: none; color: #eee;text-align: center;margin-top: 30px;}
#poweredby a{color: #fff;}
