.col-6{width:50% !important;}
.col-md-6{width:49% !important;}
.cell{height:440px;}
.cell .divider{ display: block; width: 1px; height: 340px; background-color: rgba(0,0,0,.05); float: left;}
.main-header{margin-bottom:20px;}
.dl-horizontal{margin:0px;}
.divider{border-left:1px solid #e5e5e5;}

.tiles{padding-top:15px;}
.tile{margin-bottom:30px; text-align:left !important; padding-left:60px;}
.tile-title{color:#999; padding-bottom:5px !important;}
