table {width: 94%; margin-left: 3%;}
table th {width: 17%; line-height: 32px; padding-right: 20px; text-align: right; font-weight: unset;}
table td {width: 33%; text-align: left; font-weight: 700;}
hr {margin: 10px;}
