#mainContent {padding-top: 0;}
#mainContent .alert-danger {color: var(--color-danger-500); background-color: var(--color-danger-50);}
#mainContent .panel {max-width: 600px; margin-top: 100px;}
.reset-password .form-group {padding-left: 0;}
.reset-password .form-label {position: static; width: min-content; padding-left: 0;}
.reset-password .form-group .input-group {width: 100%;}
.reset-password .form-actions {align-items: center;}
