#mainContent {padding-top: 50px!important;}
#mainContent .main-header {display: none;}
#mainContent .copyright {line-height: 20px;}
#mainContent .copyright a {vertical-align: baseline;}
#zentaoLinks .panel .panel-heading{padding: 6px 10px}
