#versionMenu {margin: 20px;}
#versionMenu .dropdown-menu {min-width: 120px}

#featureList {padding: 0 20px 20px;}
#featureList > .item {padding: 0 0 10px 0;}
#featureList > .item > h3 {color: #114f8e; font-size: 16px; margin: 0; padding: 10px 0}
#featureList > .item > .desc {color: #666; padding-left: 18px;}
#featureList > .item > .more-link {color: #666; padding-left: 18px;}
#featureList > .item > .more {display: none}
