.tree .active{font-weight: bold;}
.with-side .side {position: absolute; width: 130px;}
.with-side .main {padding-left: 145px; float: left;}
.side-col {width: 160px;}
.panel-sm .panel-body {padding: 10px;}
