.tree .active{font-weight: bold;}
.with-side .side {position: absolute; width: 130px;}
.with-side .main {padding-left: 145px; float: left;}
.panel-sm .panel-body {padding: 10px;}
#mainMenu .input-control {display: flex; width: 200px;}
#mainMenu .input-control .form-name {margin: 8px 10px; white-space: pre;}
.table-import {padding-top: 6px;}
